
ion-content{
    --background:#fff;
    
}

.Grid{
    height: 100%; 
    width: 100%; 
    width: fit-content;
    &-row-tips{
        &-col{
            &-label{
            &-h2{
                padding-left: 10px;
                font-size: 16px;
                font-weight: 700;
                &-strong{
                    font-weight: 500;
                    color:#5A4BB2;
                }
            }
            &-h4{
                padding-left: 10px;
                padding-top: 18px;
                font-size: 14px;
                font-weight: 600;
                padding-bottom: 16px;
            }
        }
        &-item{ 
            &-icon{ 
                font-size: 6px;
                color: #000; 

            }
            &-label{
                font-size: 14px;
                margin: 0px;
                padding-left: 16px;
            }
        }
    }
    }
    
}

@media (min-width:1200px ) {
    .Grid{
        display: flex;
        flex-direction: column;
        
        padding: 0px;
        justify-content: center; 
        width: fit-content;
        &-row-tips{
            min-width: 1190px; 
            padding-left: 16px;
            padding-right: 16px;
            &-col{
                &-label{
                &-h2{
                    padding-left: 10px;
                    font-size: 26px;
                    font-weight: 700;
                    &-strong{
                        font-weight: 500;
                        color:#5A4BB2;
                    
                    }
                }
                &-h4{
                    padding-left: 10px;
                    padding-top: 18px;
                    font-size: 22px;
                    font-weight: 600;
                    padding-bottom: 16px;
                }
                
            }
            &-item{ 
                &-icon{ 
                    font-size: 6px;
                    color: #000; 
                     
                     

                }
                &-label{
                    font-size: 16px;
                    margin: 0px;
                    padding-left: 16px;
                }
            }
        }
        }
      
         
    }
} 
