<ion-content>
  <ion-grid class="Grid">
    <ion-row class="Grid-row-tips">
      <ion-col class="Grid-row-tips-col">
        <ion-label class="Grid-row-tips-col-label">
          <h2 class="Grid-row-tips-col-label-h2">Tips y consejos - <strong class="Grid-row-tips-col-label-h2-strong">Sobre tus derechos</strong></h2>
          <h4 class="Grid-row-tips-col-label-h4">¿Cuáles son los derechos de los Niños, Niñas y Adolescentes?</h4>
        </ion-label>
        <ion-item lines="none" class="Grid-row-tips-col-item">
            <ion-icon name="ellipse" class="Grid-row-tips-col-item-icon"></ion-icon>
            <ion-label class="Grid-row-tips-col-item-label">Identidad: tienen derecho a una identidad; es decir, tienen derecho a una inscripción oficial de quiénes son, que incluya su nombre, nacionalidad y relaciones familiares.</ion-label>
        </ion-item>
        <ion-item lines="none" class="Grid-row-tips-col-item">
          <ion-icon name="ellipse" class="Grid-row-tips-col-item-icon"></ion-icon>
          <ion-label class="Grid-row-tips-col-item-label">Vivir en familia: no se debe separar a los niños, niñas y adolescentes de su padre y su madre, a menos que estos no los cuiden como es debido (por ejemplo, si el padre o la madre hacen daño al niño o le descuidan). Cuando el padre y la madre no vivan juntos, el niño debería permanecer en contacto con los dos, salvo que esto le perjudique.</ion-label>
        </ion-item>
        <ion-item lines="none" class="Grid-row-tips-col-item">
            <ion-icon name="ellipse" class="Grid-row-tips-col-item-icon"></ion-icon>
            <ion-label class="Grid-row-tips-col-item-label">A ser escuchados: tienen derecho a expresar su opinión sobre los asuntos que les afectan. Los adultos deben escuchar a los niños y tomarles en serio.</ion-label>
        </ion-item>
        <ion-item lines="none" class="Grid-row-tips-col-item">
          <ion-icon name="ellipse" class="Grid-row-tips-col-item-icon"></ion-icon>
          <ion-label class="Grid-row-tips-col-item-label">A tener buena salud: tienen derecho a la mejor atención de la salud que se les pueda brindar, al agua limpia para beber, a una alimentación sana y a un entorno limpio y seguro en el que vivir.</ion-label>
        </ion-item>
        <ion-item lines="none" class="Grid-row-tips-col-item">
            <ion-icon name="ellipse" class="Grid-row-tips-col-item-icon"></ion-icon>
            <ion-label class="Grid-row-tips-col-item-label">A la educación: tienen derecho a recibir una educación. La educación primaria debería ser gratuita. La educación secundaria y superior deben estar al alcance de todos los niños. Se debería apoyar a los niños para que asistan a la escuela hasta completar el grado más alto posible.</ion-label>
        </ion-item>
        <ion-item lines="none" class="Grid-row-tips-col-item">
          <ion-icon name="ellipse" class="Grid-row-tips-col-item-icon"></ion-icon>
          <ion-label class="Grid-row-tips-col-item-label">A una alimentación saludable, vestimenta y vivienda digna: tienen derecho a la alimentación, al vestido y a un lugar seguro donde vivir, para que puedan crecer del mejor modo posible.</ion-label>
       </ion-item>
       <ion-item lines="none" class="Grid-row-tips-col-item">
        <ion-icon name="ellipse" class="Grid-row-tips-col-item-icon"></ion-icon>
        <ion-label class="Grid-row-tips-col-item-label">Podés conocer más derechos aquí <a target="_blank" href="https://www.unicef.org/es/convencion-derechos-nino/convencion-version-ninos">  https://www.unicef.org/es/convencion-derechos-nino/convencion-version-ninos </a></ion-label>
       </ion-item>
 
      </ion-col>
    </ion-row>  
  </ion-grid>
</ion-content>


