<ion-content>
  <div class="rights">
    <div class="rights__hero">
      <div class="rights__hero-content">
        <h1 class="rights__hero-title">
          Conoce tus derechos,<br>
          ¡son muy importantes!
        </h1>
        <p class="rights__hero-text">
          Todos los niños, niñas y adolescentes tienen derechos especiales que los protegen y ayudan a crecer felices y seguros.
        </p>
        <a href="https://www.unicef.org/es/convencion-derechos-nino/convencion-version-ninos" 
           target="_blank" 
           class="rights__hero-button">
          Conocer más en UNICEF
          <ion-icon name="open-outline"></ion-icon>
        </a>
      </div>
      <div class="rights__hero-image ion-hide-md-down">
        <img src="../../assets/icon/faq/Hero-TusDerechos.svg" alt="">
      </div>
    </div>
    <div class="rights__grid">
      <div class="rights__card">
        <div class="rights__card-icon">
          <ion-icon src="../../assets/icon/faq/identidad.svg"></ion-icon>
        </div>
        <h3 class="rights__card-title">Identidad</h3>
        <p class="rights__card-description">
          Tienes derecho a una identidad, un nombre y una nacionalidad. Eres único y especial.
        </p>
      </div> 
      <div class="rights__card">
        <div class="rights__card-icon">
          <ion-icon src="../../assets/icon/faq/familia.svg"></ion-icon>
        </div>
        <h3 class="rights__card-title">Vivir en Familia</h3>
        <p class="rights__card-description">
          Tienes derecho a vivir con tu familia y recibir su amor y protección.
        </p>
      </div>
      <div class="rights__card">
        <div class="rights__card-icon">
          <ion-icon src="../../assets/icon/faq/ser-escuchado.svg"></ion-icon>
        </div>
        <h3 class="rights__card-title">Ser Escuchado</h3>
        <p class="rights__card-description">
          Tu opinión es importante. Tienes derecho a expresar lo que piensas y sientes.
        </p>
      </div>
      <div class="rights__card">
        <div class="rights__card-icon">
          <ion-icon src="../../assets/icon/faq/salud.svg"></ion-icon>
        </div>
        <h3 class="rights__card-title">Buena Salud</h3>
        <p class="rights__card-description">
          Tienes derecho a recibir atención médica, agua limpia y alimentación saludable.
        </p>
      </div>
      <div class="rights__card">
        <div class="rights__card-icon">
          <ion-icon src="../../assets/icon/faq/educacion.svg"></ion-icon>
        </div>
        <h3 class="rights__card-title">Educación</h3>
        <p class="rights__card-description">
          Tienes derecho a ir a la escuela y aprender todo lo que te ayude a crecer.
        </p>
      </div>
      <div class="rights__card">
        <div class="rights__card-icon">
          <ion-icon src="../../assets/icon/faq/vida-digna.svg"></ion-icon>
        </div>
        <h3 class="rights__card-title">Vida Digna</h3>
        <p class="rights__card-description">
          Tienes derecho a una alimentación saludable, ropa y un hogar seguro.
        </p>
      </div>
    </div>
    <div class="rights__help">
      <div class="rights__help-image">
        <img src="../../assets/icon/faq/help.png" alt="">
      </div>
      <div class="rights__help-content">
        <h2 class="rights__help-title">
          ¿Necesitas ayuda para entender tus derechos?
        </h2>
        <p class="rights__help-text">
          Si tienes dudas sobre tus derechos o sientes que no se están respetando, 
          podemos ayudarte. Hay personas preparadas para escucharte y protegerte.
        </p>
        <div class="rights__help-buttons">
          <ion-button class="rights__help-button rights__help-button--primary" routerLink="/formulario">
            Pedir ayuda
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
          <ion-button class="rights__help-button rights__help-button--secondary" routerLink="/numeros-utiles">
            Llamar ahora
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>