<ion-content>
  <div class="header">
    <ion-icon src="../../assets/icon/faq-2.svg" class="header-icon"> </ion-icon>
  </div>
  <ion-grid class="Grid">
    <ion-row>
      <ion-col size="12">
        <ion-accordion-group>
          <ion-accordion value="first" >
            <ion-item slot="header">
              <ion-label>Sobre tus Derechos</ion-label>
            </ion-item>
            <div style="padding-left: 10px;" slot="content">
              <ion-list>
              <ion-list-header style="padding-left: 0px;">
                <ion-label style="    font-size: 14px;
                color: black;
                font-weight: 600;">¿Cuáles son los derechos de los Niños, Niñas y Adolescentes?</ion-label>
              </ion-list-header>
              <ion-item lines="none" style="--background:#fff">
                <ion-text color="dark">
                  <p style="    font-size: 12px;
                  color: black;
                  font-weight: 400;background: #fff;">
                   <strong style="font-size: 18px;padding-right: 5px;">•</strong> Identidad: tienen derecho a una identidad; es decir, tienen derecho a una inscripción oficial de quiénes son, que incluya su nombre, nacionalidad y relaciones familiares. <br>
                   <strong style="font-size: 18px;padding-right: 5px;">•</strong> Vivir en familia: no se debe separar a los niños, niñas y adolescentes de su padre y su madre, a menos que estos no los cuiden como es debido (por ejemplo, si el padre o la madre hacen daño al niño o le descuidan). Cuando el padre y la madre no vivan juntos, el niño debería permanecer en contacto con los dos, salvo que esto le perjudique. <br>
                   <strong style="font-size: 18px;padding-right: 5px;">•</strong> A ser escuchados: tienen derecho a expresar su opinión sobre los asuntos que les afectan. Los adultos deben escuchar a los niños y tomarles en serio. <br>
                   <strong style="font-size: 18px;padding-right: 5px;">•</strong> A tener buena salud: tienen derecho a la mejor atención de la salud que se les pueda brindar, al agua limpia para beber, a una alimentación sana y a un entorno limpio y seguro en el que vivir. <br>
                   <strong style="font-size: 18px;padding-right: 5px;">•</strong> A la educación: tienen derecho a recibir una educación. La educación primaria debería ser gratuita. La educación secundaria y superior deben estar al alcance de todos los niños. Se debería apoyar a los niños para que asistan a la escuela hasta completar el grado más alto posible. <br>
                   <strong style="font-size: 18px;padding-right: 5px;">•</strong> A una alimentación saludable, vestimenta y vivienda digna: tienen derecho a la alimentación, al vestido y a un lugar seguro donde vivir, para que puedan crecer del mejor modo posible.  <br>
                   <strong style="font-size: 18px;padding-right: 5px;">•</strong> Al descanso y recreación: tienen derecho al descanso, a relajarse, a jugar y a participar en actividades culturales y creativas. <br>
                    <strong style="font-size: 18px;padding-right: 5px;">•</strong> Podés conocer más derechos aquí <a target="_blank" href="https://www.unicef.org/es/convencion-derechos-nino/convencion-version-ninos">  https://www.unicef.org/es/convencion-derechos-nino/convencion-version-ninos </a></p></ion-text>
                  </ion-item>
            </ion-list>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


