
ion-content{
    --background:#fff ;
}

.Grid{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 55px; 
    height: 100%; 
    width: 100%;
    display: flex; 
    flex-flow: column;   
    &-row-perfil{
        &-button{ 
            --background:#fff;
            --color:#5A4BB2;
            --border-color: none; --border-width: 0px !important;
            --box-shadow:none;
            position: absolute;
            top: 0;
            right: 0;
    }
        border-radius: 15px;
        background: #5A4BB2;
        text-align: center;
        align-items: center;
        align-content: center;
        &-img-col{
            &-div{
                width: 100%;
                position: relative;
                &-image{
                    border-radius: 50%;
                    margin-top: -50px;
                    bottom: calc(-1*(80px + 4px));
                    width: 115px;
                    height: 115px;
                    border-radius: 50%;
                    background: #f4f4f4;
                    border:solid 2px #FE910E;
                    margin-bottom: 36px;
                }
            }
        }
        &-label-col{
            margin-bottom: 30px;
            padding: 0px;
            &-label-p{
                color:#fff;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 4.5px;
            }
        }
        

    }
    &-row-tips{
    &-datos{
        width: 100%;
        border-radius: 15px;
        padding:5px;
        --background: #F4F4F4;
        --border-radius: 15px;
            &-label-p{
                padding:6px;
                color:#455A64;
                font-size: 18px;
            }
    }
}
    &-row-form{
        &-col{
            &-item{
                width: 100%;
            margin-top: 5px;
        
            padding:0px;
            --background: #ffff;
        border-radius:15px;
            border:1px solid #5A4BB2;
            &-label-input-p{
                padding:0px;
                color:#000;
                font-size: 14px;
            }
            &-datos-icon{
                    color:#000 !important; 
            }
        }
    }
    }
    
}
 
 
 

 .save{
    font-weight: 100;
            text-transform: none;
            --background:#FE910E !important;
            --color:#fff;
            width: 100%;
            height: 100%;
            --padding-bottom: 0.5rem;
            --border-radius: 0.2rem;
            --padding-top: 0.5rem;
            font-size: 1rem;
           --border-radius:8px;
 }

.lista{
    --inner-padding-end: 0;
    border-radius:8px;
    --border-radius:8px;
    --background: #f4f4f4;
}
 

@media (min-width:1200px ) {
    ion-content{
        --background:#ffff ;
    }
    .Grid{
        padding-left: 125px;
        padding-right: 125px;
        &-row-perfil{
            &-img-col{
                padding-top: 12px;
                padding-bottom: 12px;
                &-div{
                    width: 100%;
                    margin-bottom: 0px;
                    &-image{
                        border-radius: 50%;
                        margin: 0px; 
                        width: 125px;
                        height: 125px;
                        border-radius: 50%;
                        background: #f4f4f4;
                        border:solid 2px #FE910E; 
                    }
                }
            }
            &-label-col{
                text-align: left;
            }

        }
        &-row-title{
            padding-top: 22px;
            &-col-text-h2{
                    font-size: 26px;
                    font-weight: 700;
                }
            
        
        }
        &-row-form{
            padding-left: 16px;
            padding-right: 16px;
            &-col-text{
                margin: 0px;
                &-h2{
                    padding-left: 10px;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }
      
         
    }

    .save{
        text-align: center;
        max-width: 454px;
    }
}  