
 
<ion-content> 
<form style="padding-top:0px;width: 100%;height: 100%;" [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
<ion-grid class="Grid">
  <ion-row class="Grid-row-perfil">
    <ion-button class="Grid-row-perfil-button ion-hide-xl-up" id="open-popover" ><ion-icon slot="icon-only"  name="ellipsis-horizontal" ></ion-icon></ion-button>
    <ion-col class="Grid-row-perfil-img-col" sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="2" sizeXl="2">
      <div class="Grid-row-perfil-img-col-div">
      <img src="../../assets/images/perfil.png" class="Grid-row-perfil-img-col-div-image">
      </div>
    </ion-col>
    <ion-col class="Grid-row-perfil-label-col" sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="10" sizeXl="10">
        <ion-label class="Grid-row-perfil-label-col-label ion-hide-xl-up">
          <p class="Grid-row-perfil-label-col-label-p">¡ Hola ,</p>
          <p class="Grid-row-perfil-label-col-label-p">{{ loaded ? title : 'Queremos Conocerte más'}} !</p>
        </ion-label>
        <ion-label class="Grid-row-perfil-label-col-label ion-hide-xl-down">
          <p class="Grid-row-perfil-label-col-label-p">¡Hola , {{ loaded ? title : 'Queremos Conocerte más'}} !</p>
        </ion-label>
    </ion-col>
  </ion-row>
   <ion-row class="Grid-row-tips"> 
  <ion-col size="12" class="ion-hide-xl-up">
    <ion-item detail='false' button class="Grid-row-tips-datos" lines="none" [routerLink]="['/principal/preguntas-frecuentes']">
      <ion-label class="Grid-row-tips-datos-label ion-text-center">
      <p class="Grid-row-tips-datos-label-p">Tips Y consejos </p>
      </ion-label> 
  </ion-item> 
  </ion-col>
  </ion-row>
  <ion-row class="Grid-row-title ion-hide-xl-down">
    <ion-col class="Grid-row-title-col">
      <ion-text class="Grid-row-title-col-text">
        <h2 class="Grid-row-title-col-text-h2">Completa tus datos </h2>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="Grid-row-form"> 
  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="6" sizeXl="6" class="Grid-row-form-col">
    <ion-text class="Grid-row-form-col-text ion-hide-xl-down">
      <h2 class="Grid-row-form-col-text-h2">Nombre</h2>
    </ion-text>
    <ion-item  class="Grid-row-form-col-item" lines="none" >
      <ion-label class="Grid-frow-orm-col-item-label  ion-hide-xl-up" position="stacked">Nombre</ion-label>
      <ion-input class="Grid-row-form-col-item-label-input-p" formControlName="name" placeholder="Mi nombre es ..."></ion-input>
      <ion-icon src="../../assets/icon/nameForm.svg"slot="start"></ion-icon>
  </ion-item>
  </ion-col>
  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="6" sizeXl="6" class="Grid-form-col">
    <ion-text class="Grid-row-form-col-text ion-hide-xl-down">
      <h2 class="Grid-row-form-col-text-h2">Telefono</h2>
    </ion-text>
    <ion-item  class="Grid-row-form-col-item" lines="none" >
      <ion-label class="Grid-row-form-col-item-label  ion-hide-xl-up" position="stacked">Telefono</ion-label>
      <ion-input class="Grid-row-form-col-item-label-input-p" formControlName="phone" placeholder="Mi telefono es ..."></ion-input>
      <ion-icon src="../../assets/icon/phoneForm.svg"slot="start"></ion-icon>
  </ion-item>
  </ion-col>
  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="6" sizeXl="6" class="Grid-row-form-col">
    <ion-text class="Grid-row-form-col-text ion-hide-xl-down">
      <h2 class="Grid-row-form-col-text-h2">Correo electrónico</h2>
    </ion-text>
    <ion-item  class="Grid-row-form-col-item" lines="none" >
      <ion-label class="Grid-row-form-col-item-label  ion-hide-xl-up" position="stacked">Correo electrónico</ion-label>
      <ion-input class="Grid-row-form-col-item-label-input-p" formControlName="email" placeholder="Mi correo  es ..."></ion-input>
      <ion-icon src="../../assets/icon/mailForm.svg"slot="start"></ion-icon>
  </ion-item>
  </ion-col>
  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="6" sizeXl="6" class="Grid-row-form-col">
    <ion-text class="Grid-row-form-col-text ion-hide-xl-down">
      <h2 class="Grid-row-form-col-text-h2">Dirección</h2>
    </ion-text>
    <ion-item  class="Grid-row-form-col-item" lines="none" >
      <ion-label class="Grid-row-form-col-item-label  ion-hide-xl-up" position="stacked">Dirección</ion-label>
      <ion-input class="Grid-row-form-col-item-label-input-p" formControlName="address" placeholder="Mi dirección es ..."></ion-input>
      <ion-icon src="../../assets/icon/locationForm.svg"slot="start"></ion-icon>
  </ion-item>
  </ion-col>
  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" sizeXl="12" style="text-align: center;padding:0px;">
    <ion-button class="save ion-hide-xl-up" type="submit" [disabled]="!this.myForm.valid">Actualizar</ion-button>
  </ion-col>
  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" sizeXl="12" class="ion-hide-xl-down" style="text-align: center;padding-top: 36px;">
    <ion-button class="save " type="submit" [disabled]="!this.myForm.valid">Actualizar mis datos</ion-button>
  </ion-col>
    </ion-row> 
</ion-grid>
</form>
</ion-content>
  <ion-popover [dismissOnSelect]="true" [keepContentsMounted]="true" trigger="open-popover" >
  <ng-template >
    <ion-content class="ion-padding"  style="--background: #f4f4f4;">
     <ion-list  style="background: #f4f4f4;padding:0px;">
      <ion-list-header style="--background: #5A4BB2;border-radius: 8px;">
          <ion-label align="center">
            <h2 style="font-size: 16px;font-weight: 500;color:#fff">Configuración</h2>
          </ion-label>
      </ion-list-header>
      <ion-item class="lista" detail='false' button  (click)="changeForm()" lines="none">
        <ion-label>
          <p>Elegír otro Formulario</p>
        </ion-label>
        <ion-icon style="color:#5A4BB2;" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item class="lista" detail='false' button (click)="deleteData()"  lines="none">
        <ion-label>
          <p>Eliminar mis datos 
        </ion-label>
        <ion-icon style="color:#5A4BB2;" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item  class="lista" detail='false' button (click)="modalAboutUs()"  lines="none">
        <ion-label>
          <p>Sobre nosotros</p>
        </ion-label>
        <ion-icon style="color:#5A4BB2;" name="chevron-forward-outline"></ion-icon>
      </ion-item>
     </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>  

