
 
<ion-content [fullscreen]="true">  
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate  class="form"  >
<ion-grid class="Grid">
  <ion-row class="Grid-row-perfil">
    <ion-button class="Grid-button-row-btn" button   fill="clear" id="open-popover" ><ion-icon slot="icon-only"  name="ellipsis-horizontal"></ion-icon></ion-button>
    <ion-col class="Grid-row-perfil-img-col" sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" sizeXl="2">
      <div class="Grid-row-perfil-img-col-div">
      <img src="../../assets/images/perfil.png" class="Grid-row-perfil-img-col-div-image">
      </div>
    </ion-col>
    <ion-col class="Grid-row-perfil-label-col" sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" sizeXl="10">
        <ion-label class="Grid-row-perfil-label-col-label ion-hide-xl-up">
          <p class="Grid-row-perfil-label-col-label-p">¡ Hola , {{ title }} !</p> 
        </ion-label>
        <ion-label class="Grid-row-perfil-label-col-label ion-hide-xl-down">
          <p class="Grid-row-perfil-label-col-label-p">¡Hola , {{ title }} !</p>
        </ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="Grid-row-title">
    <ion-col class="Grid-row-title-col">
      <ion-text class="Grid-row-title-col-text">
        <h2 class="Grid-row-title-col-text-h2">Completa tus datos </h2>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="Grid-row-form"> 
  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" sizeXl="6" class="Grid-row-form-col">
    <ion-text class="Grid-row-form-col-text " >
      <h2 class="Grid-row-form-col-text-h2">Nombre</h2>
    </ion-text>
    <ion-item  class="Grid-row-form-col-item" lines="none">
      <ion-input class="Grid-row-form-col-item-label-input-p"  labelPlacement="stacked"  formControlName="name" placeholder="Mi nombre es ...">
      </ion-input>
      <ion-icon src="../../assets/icon/perfil/nameForm.svg" slot="start"></ion-icon>
  </ion-item>
  <ion-note class="Grid-row-form-col-errors" *ngIf="myForm.get('name').invalid && (myForm.get('name').dirty || myForm.get('name').touched)" color="danger">
    <span *ngIf="myForm.get('name').errors?.['required']">
      <ion-icon name="information-circle-outline"></ion-icon>  Este campo es requerido
    </span>
    <span *ngIf="myForm.get('name').errors?.['minlength']">
      <ion-icon name="information-circle-outline"></ion-icon>
      El Nombre debe tener al menos 2 caracteres.
    </span>
    <span *ngIf="myForm.get('name').errors?.['pattern']">
      <ion-icon name="information-circle-outline"></ion-icon>
      El Nombre debe tener solo letras.
    </span>
  </ion-note>
  </ion-col>
  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" sizeXl="6" class="Grid-row-form-col">
    <ion-text class="Grid-row-form-col-text ">
      <h2 class="Grid-row-form-col-text-h2">Correo electrónico</h2>
    </ion-text>
    <ion-item  class="Grid-row-form-col-item" lines="none" >
      
      <ion-input labelPlacement="stacked"  class="Grid-row-form-col-item-label-input-p" formControlName="email" placeholder="Mi correo  es ...">
      </ion-input>
      <ion-icon src="../../assets/icon/perfil/mailForm.svg"slot="start"></ion-icon>
  </ion-item>
  <ion-note class="Grid-row-form-col-errors" *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)" color="danger">
    <span *ngIf="myForm.get('email').errors?.['required']">
      <ion-icon name="information-circle-outline"></ion-icon>  Este campo es requerido
    </span>
    <span *ngIf="myForm.get('email').errors?.['email']">
      <ion-icon name="information-circle-outline"></ion-icon>
      El formato del correo no es válido.
    </span>
  </ion-note>
  </ion-col>
  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" sizeXl="6" class="Grid-row-form-col">
    <ion-text class="Grid-row-form-col-text ">
      <h2 class="Grid-row-form-col-text-h2">Teléfono</h2>
    </ion-text>
    <ion-item  class="Grid-row-form-col-item ion-invalid" lines="none" >
      <ion-input   labelPlacement="stacked"  class="Grid-row-form-col-item-label-input-p" formControlName="phone" placeholder="Mi telefono es ...">
      </ion-input>
      <ion-icon src="../../assets/icon/perfil/phoneForm.svg" slot="start"></ion-icon>
  </ion-item>
  <ion-note class="Grid-row-form-col-errors" *ngIf="myForm.get('phone').invalid && (myForm.get('phone').dirty || myForm.get('phone').touched)" color="danger">
    <span *ngIf="myForm.get('phone').errors?.['required']">
      <ion-icon name="information-circle-outline"></ion-icon>  Este campo es requerido
    </span>
    <span *ngIf="myForm.get('phone').errors?.['minlength']">
      <ion-icon name="information-circle-outline"></ion-icon>
      El teléfono debe tener al menos 10 caracteres.
    </span>
    <span *ngIf="myForm.get('phone').errors?.['pattern']">
      <ion-icon name="information-circle-outline"></ion-icon>
      El teléfono debe tener solo números.
    </span>
  </ion-note>
  </ion-col>
 
  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" sizeXl="6" class="Grid-row-form-col">
    <ion-text class="Grid-row-form-col-text ">
      <h2 class="Grid-row-form-col-text-h2">Dirección</h2>
    </ion-text>
    <ion-item  class="Grid-row-form-col-item" lines="none" >
      <ion-input  labelPlacement="stacked"   class="Grid-row-form-col-item-label-input-p" formControlName="address" placeholder="Mi dirección es ...">
      </ion-input>
      <ion-icon src="../../assets/icon/perfil/locationForm.svg"slot="start"></ion-icon>
  </ion-item>
  <ion-note class="Grid-row-form-col-errors" *ngIf="myForm.get('address').invalid && (myForm.get('address').dirty || myForm.get('address').touched)" color="danger">
    <span *ngIf="myForm.get('address').errors?.['required']">
      <ion-icon name="information-circle-outline"></ion-icon>  Este campo es requerido
    </span>
  </ion-note>
  </ion-col>
    </ion-row> 
    <ion-row  class="Grid-row-actualizar">
      <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" sizeXl="12" style="text-align: center;padding-bottom:18px;padding-top:22px">
        <ion-button mode="md" class="save" type="submit" [disabled]="!this.myForm.valid">{{updateProfile ? 'Actualizar' : 'Guardar'}} mis datos</ion-button>
      </ion-col>
    </ion-row> 
</ion-grid>
</form>
</ion-content>
  <ion-popover [dismissOnSelect]="true" [keepContentsMounted]="true" id="open-popover" trigger="open-popover">
  <ng-template >
    <ion-content class="ion-padding"  style="--background: #f4f4f4;">
     <ion-list  style="background: #f4f4f4;padding:0px;">
      <ion-list-header style="--background: #5A4BB2;border-radius: 8px;">
          <ion-label align="center">
            <h2 style="font-size: 16px;font-weight: 500;color:#fff">Configuración</h2>
          </ion-label>
      </ion-list-header>
      <ion-item class="lista" detail='false' [routerLink]="['/denuncias']" lines="none">
        <ion-label>
          <p>Mis denuncias</p>
        </ion-label>
        <ion-icon style="color:#5A4BB2;" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item class="lista" detail='false' [routerLink]="['/preguntas-frecuentes']" lines="none">
        <ion-label>
          <p>Tips y Consejos</p>
        </ion-label>
        <ion-icon style="color:#5A4BB2;" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item class="lista" detail='false' button  (click)="changeForm()" lines="none">
        <ion-label>
          <p>Elegír otro Formulario</p>
        </ion-label>
        <ion-icon style="color:#5A4BB2;" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item class="lista" detail='false' button (click)="deleteData()"  lines="none">
        <ion-label>
          <p>Eliminar mis datos 
        </ion-label>
        <ion-icon style="color:#5A4BB2;" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item  class="lista" detail='false' [routerLink]="['/sobre-nosotros']"
        lines="none">
        <ion-label>
          <p>Sobre nosotros</p>
        </ion-label>
        <ion-icon style="color:#5A4BB2;" name="chevron-forward-outline"></ion-icon>
      </ion-item>
     </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>   

