<ion-content>
  <ion-grid class="Grid"> 
    <ion-card class="Grid-card">
      <ion-card-header class="Grid-card-header">
        <ion-card-title class="Grid-card-header-title">Sobre nosotros</ion-card-title> 
      </ion-card-header>
      <ion-card-content  class="Grid-card-content ion-tex-center">
        <div style="width: 100%;display: flex;justify-content: center;">
          <ion-icon src="../../assets/icon/sobre-nosotros.svg" class="Grid-card-content-icon"></ion-icon>
        </div>
        <ion-label class="Grid-card-content-label">
          <p class="Grid-card-content-label-p">Nuestra aplicación se ha creado con el propósito de proporcionar una plataforma segura y fácil de usar para hacer denuncias de abuso sexual y acoso infantil. Sabemos que estos temas son sensibles y difíciles de abordar, y nuestro objetivo es proporcionar un medio para que las víctimas y testigos puedan hacer denuncias de manera anónima y segura.</p>
          <p class="Grid-card-content-label-p">Todas las denuncias que recibimos son manejadas de manera confidencial y se envían a las autoridades competentes para su procesamiento y investigación. Hemos implementado medidas de seguridad para proteger la privacidad y la seguridad de los denunciantes, y nos tomamos muy en serio nuestra responsabilidad de garantizar que estas denuncias se manejen de manera adecuada.</p>
          <p class="Grid-card-content-label-p">Si necesitas más ayuda o asesoramiento después de hacer una denuncia a través de nuestra aplicación, no dudes en ponerte en contacto con nosotros. Estaremos encantados de proporcionar más información o apoyo. Puedes contactarnos a través de nuestra sección de "Contacto" en la aplicación o enviando un correo electrónico a nuestro equipo de soporte. Estamos aquí para ayudarte.</p>
        </ion-label>
        <ion-label class="ion-text-end" >
            <p style="font-size: 0.6rem;"> Version de la aplicación :  {{ v }}</p>
        </ion-label>
      </ion-card-content>
    </ion-card>

  <!--  <ion-row class="Grid-row">
     <ion-col class="Grid-row-col" size="12">
       <ion-icon src="../../assets/icon/sobre-nosotros.svg" class="Grid-row-col-icon"></ion-icon>
     </ion-col>
     <ion-col size="12" class="Grid-col-tyc">
       <ion-text class="Grid-col-tyc-text"> 
           <p> Nuestra aplicación se ha creado con el propósito de proporcionar una plataforma segura y fácil de usar para hacer denuncias de abuso sexual, acoso infantil u otra vulneración de los derechos. Sabemos que estos temas son sensibles y difíciles de abordar, y nuestro objetivo es proporcionar un medio para que las víctimas y testigos puedan hacer denuncias de manera anónima y segura. <br>
            Todas las denuncias que recibimos son manejadas de manera confidencial y se envían a las autoridades competentes para su procesamiento e investigación. Hemos implementado medidas de seguridad para proteger la privacidad y la seguridad de los denunciantes, y nos tomamos muy en serio nuestra responsabilidad de garantizar que estas denuncias se manejen de manera adecuada. <br>
            Si necesitas más ayuda o asesoramiento después de hacer una denuncia a través de nuestra aplicación, no dudes en ponerte en contacto con nosotros. Estaremos encantados de proporcionar más información o apoyo. Puedes contactarnos a través de nuestra sección de "Telefono" en la aplicación o enviando un correo electrónico a nuestro equipo de soporte. Estamos aquí para ayudarte.
           </p>
     </ion-text>
     </ion-col>
    </ion-row>
     <ion-row class="Grid-button-row">
       <ion-col size="12" class="Grid-button-row-col">
         <ion-button class="Grid-button-row-col-nextBtn" (click)="volver()">Volver</ion-button>
       </ion-col>
      </ion-row> -->
   </ion-grid>
</ion-content>
