.Grid{
    height: 100%; 
    display: flex; 
    flex-flow: column;
    &-card{
        max-height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        border: #5A4BB2 3px solid;
        &-header{
            padding-left: 24px;
            padding-top: 35px;
            padding-bottom: 38px;
            background-color: #5A4BB2;
            &-title{
                
                font-size: 20px;
                font-weight: 600;
                color: #fff;
            }
        }
        &-content{
            max-height: calc(100% - #{50px});
            position: relative;
            overflow: hidden;
            overflow-y: auto;
            ::-webkit-scrollbar {
                display: none;
            }
            &-icon{
                height:160px;
                width: 160px;
            }
            &-label{
                &-p{
                    font-size: 12px;
                    font-weight: 400; 
                }	
            
            }
        }
    }

    
}


@media (min-width:1200px){

    .Grid{
        padding-left: 118px;
        padding-right: 102px;
        &-card{
            &-header{
                &-title{
                    padding:16px;
                    font-size: 40px;
                    font-weight: 700;
                    color: #fff;
                }
            }
            &-content{
                &-icon{
                    height:270px;
                    width: 346px;
                }
                &-label{
                    &-p{ 
                        padding-left: 20px;
                        padding-right: 8px;
                        padding-top:12px;
                        font-size: 20px;
                        font-weight: 600; 
                    }	
                
                }
            }
        }

    }
}