:host{
    --background: #F4F4F4;
    font-family: 'Open Sans';
    font-style: normal;
}
.swiper {
    width: 100%;
    height: 100%;
}
ion-content {
    background: #F4F4F4;
    --background:url("../../assets/images/kid-teen.svg") no-repeat center center / cover;

} 
//Primer slider
//START GRID FOR SLIDER 1 AND 2
.Grid-first{
    height: 100%; 
    display: flex; 
    flex-flow: column;
    
    &-row{
        flex-grow: 1;
        &-icon{
        height:32px;width: 32px;
    }
        &-col{
            &-text{
                padding-top:0.5rem;
                &-title{
                    &-h1{
                        margin-top: 0rem;
                        font-size: 27px;
                        font-weight: 700;
                    }
                    &-p{
                        text-align: justify;
                        margin-top: 0.5rem ;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 120%; 
                    } 
                }
            }
            padding-top:1rem;
            &-icon-onboarding{
                height:200px;
                width: 300px;
            }
            &-icon-location-onboarding{
                height:300px;
                width: 300px;
            }
        }
        &-col:last-child{ 
            min-height: 370px;
        }
    }
    &-row2{
        flex-grow: 1;
        &-col{
            padding-top:1rem;
            &-icon-onboarding{
                height:200px;
                width: 300px;
            }
            &-icon-location-onboarding{
                height:300px;
                width: 300px;
            }
        }
    }
    &-col-tyc{
        &-text{
            color: #7B7676;
            font-weight: 400;
            font-size: 0.8rem;
            line-height: 140%;
            &-note{
                font-size: 0.6rem;
        }
        }
    }
    &-button-row{
        text-align: center;
        &-col-nextBtn{
            font-weight: 100;
            text-transform: none;
            --background:#FE910E;
            --color:#fff;
            width: 100%;
            height: 100%;
            --padding-bottom: 0.5rem;
            --border-radius: 0.2rem;
            --padding-top: 0.5rem;
            font-size: 1rem;
        }
        &-col-skipBtn{
            font-weight: 500;
            text-transform: none;
            --color:#FE910E;
            font-size: 0.9rem;
        }
    }
}
 

//Grid for TeenKid
.Grid-choice{
    height: 100%; 
    display: flex; 
    flex-flow: column;
    justify-content: center;
    align-items: center;
    &-row{
        text-align: center;
        padding-top: 50px;
        height: 100%;
        &-col-Btn{
            width: 80%;
            max-width: 336px;
            height: auto;
            --padding-top:11px;
            --padding-bottom:11px;
            font-weight: 400;
            font-size: 18px;
            --border-radius: 8px;
            --background: #fff;
            color:#000;
            --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
            --ripple-color: #FE910E;
                    }
                    ion-button:hover,ion-button:focus{
                        &::part(native){
                        --background:#FE910E;
                        color:#fff; 
                    }}
   
 }

 .Arrow-Btn{
    height: 49px !important; 
    width: 49px !important;
    --background: #FE910E;
    --border-radius: 50%;
    &-Icon{
        height: 35px;
        width: 35px;
        position: absolute;
    }
 }
  /*  @media (max-width:376px ) {
    .Grid-choice-row-col-Btn{
        font-size: 16px;

     }
} */
 
}



@media (min-width:1200px ) {
.Grid-first{
    display: flex;
    flex-flow: column nowrap;
    padding-left: 0px;
    &-row {
        padding-left: 0.5rem;
        padding-right: 1rem;
        min-height: 718px;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;
        &-col {
            padding: 1rem;
            /* min-height: 370px !important;
            max-width: 440px !important;
            max-height: 600px !important;  */
            &-text {
                    padding-top: 1rem;
                    align-self: center;
                    &-title {
                        &-h1 {
                            font-size: 40px !important;
                            font-weight: 700 !important;
                            padding-bottom: 7px;
                        } 
                        &-p {
                            max-width: 567px;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }}
            &-icon-onboarding{
                height: 448px;
                width: 100%;
            }
            &-location-onboarding{
                width: 100%;
                height: 403px;
            }  
            
        }
        &-icon{
            padding-left: 121px;
            width: 123px;
            height: 96px;
        }
    }
    &-row2 {
        flex-direction: row-reverse;
        justify-content: right; 
        align-items: right;  
        
        &-col {
            padding: 2rem;
        }
    }
    &-button-row {
        margin-top: auto;
        margin-bottom:auto;
        padding-bottom: 92px; 
        width: 100%;  
        justify-content: right;
        &-col{
            text-align: left;
        }
        &-col-nextBtn, &-col-skipBtn {
            
            max-width: 571px; 
            margin: auto; 
            width: 100%;
        }
    }
}
}   

@media (min-width:1200px ) {
    .Grid-choice{
      /*   height: 100%;  */
       /*  display: flex; 
        flex-flow: column;
        justify-content: center;
        align-items: center; */
        &-row{
            width:100%;
            text-align: center;
            justify-content: space-between;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: -10px;
            &-col{
                padding-top: 0px;
                padding-bottom: 0px;
                max-width: 550px !important;

                &-Btn{
                    margin: 0px;
                    width: 80%;
                    max-width: 336px;
                    height: auto;
                    --padding-top:5px;
                    --padding-bottom:5px;
                    font-weight: 700;
                    font-size: 20px;
                    --border-radius: 8px;
                    --background: #FE910E;
                    color:#fff;
                    --ripple-color: #fff;
   

                            }
                            
                        }
                    }
        }
    }
 
/* 
ion-grid {
    --ion-grid-padding: 20px;
  
    --ion-grid-padding-xs: 20px;
    --ion-grid-padding-sm: 20px;
    --ion-grid-padding-md: 20px;
    --ion-grid-padding-lg: 20px;
    --ion-grid-padding-xl: 20px;
  
    --ion-grid-column-padding: 30px;
  
    --ion-grid-column-padding-xs: 30px;
    --ion-grid-column-padding-sm: 30px;
    --ion-grid-column-padding-md: 30px;
    --ion-grid-column-padding-lg: 30px;
    --ion-grid-column-padding-xl: 30px;
  } */