<ion-content [style.--background]="background">
  <app-header-onboarding></app-header-onboarding>
  <swiper-container  [ngStyle]="{ 'height': (typeScreen.type === 'mobile' || typeScreen.type === 'tablet')  ? '100%' : 'calc(100% - ' + headerPixel + ')' }" #swiper
    (swiperslidechange)="slideWillChange()" [allowTouchMove]="false" [allowSlidePrev]="false" speed="500" [autoHeight]="false">
    <!-- Start Slider 1 -->
     <swiper-slide>
      <ion-grid class="Grid" [ngStyle]="{ 'max-height': (typeScreen.type === 'tablet' || typeScreen.type === 'mobile')  ? '100%' : '50vh' }">
        <ion-row class="Grid-row-principal">
          <ion-col sizeXs="12" sizeSm="12" SizeMd="6" sizeLg="6" sizeXl="6" pushLg="6" pushXl="6"
            class="Grid-row-principal-col">
            <ion-text class="Grid-row-principal-col-title">
              <h1 class="Grid-row-principal-col-title-h1">Bienvenido a YoCuento</h1>
              <p class="Grid-row-principal-col-title-p">
                “Yo Cuento” es una aplicación que te permitirá realizar un pedido de ayuda en el caso que estés pasando
                por alguna situación de violencia.</p>
              <p class="Grid-row-principal-col-title-p">
                 Tené en cuenta que toda la información que brindes es confidencial y
                será utilizada solamente por las personas que procederán a ayudarte (ley 25326).
              </p>
              <div class="Grid-row-tyc-col-container ion-hide-lg-down">
              <ion-text class="Grid-row-tyc-col-container-text">
              <p class="Grid-row-tyc-col-container-text-p"> Apretando el boton “Continuar”, aceptas nuestros
                “Terminos y Condiciones & Politicas de Privacidad”.
              </p>
            </ion-text>
              </div>
             
            </ion-text>
          </ion-col>
          <ion-col style="align-content: center;"  sizeXs="12" sizeSm="12" SizeMd="6" sizeLg="6" sizeXl="6" pullLg="6" pullXl="6" class="Grid-row-principal-col">
            <ion-img class="Grid-row-principal-col-img" src="../../assets/icon/onboarding/new-bienvenido.svg"></ion-img>
          </ion-col>
          <ion-col class="Grid-row-tyc-col ion-hide-lg-up" sizeXs="12" sizeSm="12" SizeMd="6" sizeLg="6" sizeXl="6">
            <div class="Grid-row-tyc-col-container">
              <ion-text class="Grid-row-tyc-col-container-text">
              <p class="Grid-row-tyc-col-container-text-p"> Apretando el boton “Continuar”, aceptas nuestros
                “Terminos y Condiciones & Politicas de Privacidad”.
              </p>
            </ion-text>
            </div>
            
          </ion-col>
        </ion-row>
        <ion-row class="Grid-row-button">
          <ion-col sizeXs="12" sizeSm="12" SizeMd="6" sizeLg="6" sizeXl="6" pushLg="6" pushXl="6" class="Grid-row-button-col">
            <ion-button class="next w-100" (click)="next()">Continuar</ion-button>
          </ion-col>
           
        </ion-row>
      </ion-grid>
    </swiper-slide>  
    <!-- End Slider 1 -->
    <!-- Start Slider 2 --> 
     <swiper-slide>
      <ion-grid class="Grid" [ngStyle]="{ 'max-height': (typeScreen.type === 'tablet' || typeScreen.type === 'mobile')  ? '100%' : '50vh' }">
        <ion-row class="Grid-row-principal">
          <ion-col sizeXs="12" sizeSm="12" SizeMd="6" sizeLg="6" sizeXl="6" pushLg="6" pushXl="6"
            class="Grid-row-principal-col">
            <ion-text class="Grid-row-principal-col-title">
              <h1 class="Grid-row-principal-col-title-h1">Habilita tu ubicación.</h1>
              <p class="Grid-row-principal-col-title-p">
                Este sitio utilizará tu ubicación para poder ayudarte.
              </p>
              <p class="Grid-row-principal-col-title-p">
                Tu ubicación será utilizada únicamente para poder brindarte la ayuda que necesitas y no será compartida con terceros.
              </p>
              <div class="Grid-row-tyc-col-container ion-hide-lg-down">
              <ion-text class="Grid-row-tyc-col-container-text">
              <p class="Grid-row-tyc-col-container-text-p"> Este
                sitio web utiliza tu ubicación para poder brindarte una mejor experiencia y poder proceder correctamente
                con tu solicitud.
              </p>
            </ion-text>
              </div>
            </ion-text>
          </ion-col>
          <ion-col style="align-content: center;"  sizeXs="12" sizeSm="12" SizeMd="6" sizeLg="6" sizeXl="6" pullLg="6" pullXl="6" class="Grid-row-principal-col">
            <ion-img class="Grid-row-principal-col-img" src="../../assets/icon/onboarding/location.png"></ion-img>
          </ion-col>
          <ion-col class="Grid-row-tyc-col ion-hide-lg-up" sizeXs="12" sizeSm="12" SizeMd="6" sizeLg="12" sizeXl="6"
          >
           <div class="Grid-row-tyc-col-container">
              <ion-text class="Grid-row-tyc-col-container-text">
              <p class="Grid-row-tyc-col-text-p ion-hide-lg-up"> Este sitio web utiliza tu ubicación para poder
                brindarte una mejor experiencia y poder proceder correctamente con tu solicitud.
              </p>
            </ion-text>
            </div> 
          </ion-col>
        </ion-row>
        <ion-row class="Grid-row-button">
          <ion-col sizeXs="12" sizeSm="12" SizeMd="6" sizeLg="6" sizeXl="6" pushLg="6" pushXl="6" class="Grid-row-button-col">
            <ion-button class="next w-100" (click)="getLocation()">Habilitar ubicación</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>   
    <!-- End Slider 2 -->
    <!-- Start Slider 3 -->
    <swiper-slide>
      <ion-grid class="Grid" [ngStyle]="{ 'max-height': (typeScreen.type === 'tablet' || typeScreen.type === 'mobile')  ? '100%' : '50vh' }">
        <ion-row class="Grid-row-choice">
          <ion-col sizeXs="12" sizeSm="12" SizeMd="12" sizeLg="12" sizeXl="12"
            class="Grid-row-choice-col-title">
            <ion-text class="Grid-row-choice-col-title">
              <h1 class="Grid-row-choice-col-title-h1 ">Selecciona tu edad</h1>
              <p class="Grid-row-choice-col-title-p">
                Esto nos ayudará a brindarte la mejor atención</p>
            </ion-text>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" SizeMd="12" sizeLg="5" sizeXl="5"  class="Grid-row-choice-col-selection" (click)="select('Niño/Niña')">
            <ion-img class="Grid-row-choice-col-selection-img" src="../../assets/icon/onboarding/teen.png"></ion-img>
            <ion-button class="next w-100" > SOY NIÑO/NIÑA</ion-button>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" SizeMd="12" sizeLg="5" sizeXl="5" class="Grid-row-choice-col-selection" (click)="select('Adolescente')">
            <ion-img class="Grid-row-choice-col-selection-img" src="../../assets/icon/onboarding/adult.png"></ion-img>
            <ion-button class="next w-100" > SOY ADOLESCENTE</ion-button>
          </ion-col> 
        </ion-row>
      </ion-grid>
    </swiper-slide>
    <!-- End Slider 3 -->
  </swiper-container>
</ion-content>