:host{
    --background: #fff;
    font-family: 'Open Sans';
    font-style: normal;
}
.swiper {
    width: 100%;
    height: 100%;
}

swiper-container {
    width: 100%;
    height: 100%;
}	

swiper-slide{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

ion-content {
    background: #fff;
    --background:url("../../assets/images/kid-teen.svg") no-repeat center center / cover;

} 


.Grid{ 
    height: 100vh;
    width: 100%;
    padding:16px;
    display: flex;
    flex-direction: column;
    &-row-principal{
        height: 100hv;
        flex-grow: 1;
        &-col{
            &-title{
                &-h1{
                    margin-top: 0rem;
                    font-size: 27px;
                    font-weight: 700;

                }
                &-p{
                    text-align: justify;
                    margin-top: 0.5rem ;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 120%; 

                }
            }
            &-container{
                display: flex;
                justify-content: center;  
                &-img{
                    height: 300px;
                    width: 380px;
                }
            }
        }
    }
    &-row-tyc{
        &-col{
            &-text{
                color: #7B7676;
                font-weight: 400;
                font-size: 0.8rem;
                line-height: 140%;
                &-note{
                    font-size: 0.6rem;
            }
            }
        }
    }

    &-row-button{
        &-col{ 
            &-nextBtn{ 
                text-transform: none;
                --background:#FE910E;
                --color:#fff;
                width: 100%;
                height: 100%;
                --padding-bottom: 0.5rem;
                --border-radius: 0.2rem;
                --padding-top: 0.5rem;
                font-size: 1rem;
            }
            &-skipBtn{
                --background:#fff;
                width: 100%;
                height: 100%;
                font-weight: 500;
                text-transform: none;
                --color:#FE910E;
                font-size: 0.9rem;
            }
        }
    }
} 
 

//Grid for TeenKid
.Grid-choice{
    height: 100%; 
    display: flex; 
    flex-flow: column;
    justify-content: center;
    align-items: center;
    &-row-section{
        text-align: center;
        align-content: center;
        padding-top: 50px;
        height: 100%;
        &-img-col{
            &-icon{
                width: 230px;
                height: 150px;
            }
        }
        &-btn-col{
            &-button{
                width: 80%;
                max-width: 336px;
                height: auto;
                --padding-top:11px;
                --padding-bottom:11px;
                font-weight: 400;
                font-size: 18px;
                --border-radius: 8px;
                --background: #fff;
                color:#000;
                --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
                --ripple-color: #FE910E;
            }
            ion-button:hover,ion-button:focus{
                &::part(native){
                --background:#FE910E;
                color:#fff; 
            }}
        }
    }

 .Arrow-Btn{
    height: 49px !important; 
    width: 49px !important;
    --background: #FE910E;
    --border-radius: 50%;
    &-Icon{
        height: 35px;
        width: 35px;
        position: absolute;
    }
 }
 
 
}

/* Media para small views */
@media(max-width:376px){
    .Grid{
        
        &-row-principal{
            &-col{
                &-container{
                    justify-content: left;  
                    &-img{
                        height: 180px;
                        width: 280px;
                    }
                }
            }
        }
    }
    .Grid-choice{
        &-row-section{
            text-align: center;
            align-content: center;
            padding-top: 50px;
            height: 100%;
            &-img-col{
                &-icon{ 
                    height: 100px;
                }
            }
        }
    }
}

/* media query para tablets */
@media(min-width:768px) and (max-width:1200px){
    .Grid-first{
        &-row{
            /* flex-grow: 1; */
            &-col{
                &-icon-onboarding{
                    height: 500px;
                    width: 700px;
                }
            }
        }
        &-icon-row-col{
            &-icon{ 
                width: 65px;
                height: 65px;
            }
        }
    }
}

/* End media query para tablets */
  
@media (min-width:1200px ) {
    .fixed{
        padding-top: 58px;
    }
    .Grid{ 
        padding-right: 145px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-row-img{
            position: absolute;
            top: 0;
            width: 100%;
            margin-top: 0;
            &-col{
                min-height: 115px;
                &-icon-onboarding{
                    padding-left: 124px;
                    width: 123px;
                    height: 96px;
                }
            }
        }
        &-row-principal{  
            flex-grow: 0;
            &-col{  
                &-container{
                    &-img{
                        width: 488px;
                        height: 398px;
                    }
                }
                &-title{
                    text-align: justify;
                    &-h1{
                        
                        margin-top: 0rem;
                        font-size: 40px;
                        font-weight: 700;
    
                    }
                    &-p{ 
                        margin-top: 0.5rem ;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 120%; 
    
                    }
                }
            }  
                 
        }

      
    }
 
}   
/* view desktop for selection rangoEtario */
@media (min-width:1200px ) {
    .Grid-choice{
        height: 100%;  
        width: 100%;
        display: flex; 
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding-left: 75px;
        padding-right: 75px;
        &-row-img{
            position: absolute;
            top: 0;
            width: 100%;
            margin-top: 0;
            &-col{
                
                min-height: 115px;
                &-icon-onboarding{
                    padding-left: 124px;
                    width: 123px;
                    height: 96px;
                }
            }
        }
        &-row-selection{ 
            width: 100%;
            &-col{
                justify-content: space-between;
                align-items: center;
                display: flex;
                flex-direction: column;
            }
            
        }
        &-row-selection-teen{
            width: 100%;
            &-col{
                align-items: center;

                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        &-row{
            width:100%;
            text-align: center;
            justify-content: space-between;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: -10px;
            &-col{
                height: 100%;
                padding-top: 0px;
                padding-bottom: 0px;
                max-width: 550px !important;

                &-Btn{
                    margin: 0px;
                    width: 80%;
                    max-width: 336px;
                    height: auto;
                    --padding-top:5px;
                    --padding-bottom:5px;
                    font-weight: 700;
                    font-size: 20px;
                    --border-radius: 8px;
                    --background: #FE910E;
                    color:#fff;
                    --ripple-color: #fff;
   

                            }
                            
                        }
                         
                    }
        }
        .col-icon{
            max-height: 135.84px;
        }
    }
 
/* 
ion-grid {
    --ion-grid-padding: 20px;
  
    --ion-grid-padding-xs: 20px;
    --ion-grid-padding-sm: 20px;
    --ion-grid-padding-md: 20px;
    --ion-grid-padding-lg: 20px;
    --ion-grid-padding-xl: 20px;
  
    --ion-grid-column-padding: 30px;
  
    --ion-grid-column-padding-xs: 30px;
    --ion-grid-column-padding-sm: 30px;
    --ion-grid-column-padding-md: 30px;
    --ion-grid-column-padding-lg: 30px;
    --ion-grid-column-padding-xl: 30px;
  } */