<ion-content [style.--background]="background">
  <app-header-onboarding [isDesktop]="isDesktop" [index]="swiperInstance?.activeIndex"></app-header-onboarding>
  <swiper-container [ngStyle]="{ 'height': (swiperInstance?.activeIndex ===2) && (!isDesktop)  ? '100%' : 'calc(100% - ' + headerPixel + ')' }" #swiper
    (swiperslidechange)="slideWillChange()" [allowTouchMove]="false" [allowSlidePrev]="false" speed="500" [autoHeight]="false">
    <!-- Start Slider 1 -->
     <swiper-slide>
      <ion-grid class="Grid">
        <ion-row class="Grid-row-principal">
          <ion-col sizeXs="12" sizeSm="12" SizeMd="6" sizeLg="12" sizeXl="6" pushXl="6"
            class="Grid-row-principal-col col-padding">
            <ion-text class="Grid-row-principal-col-title">
              <h1 class="Grid-row-principal-col-title-h1">¡Hola, bienvenido!</h1>
              <p class="Grid-row-principal-col-title-p">
                “Yo Cuento” es una aplicación que te permitirá realizar un pedido de ayuda en el caso que estés pasando
                por alguna situación de violencia. Tené en cuenta que toda la información que brindes es confidencial y
                será utilizada solamente por las personas que procederán a ayudarte (ley 25326). A continuación, tendrás
                que responder unas breves preguntas para que podamos ayudarte.
              </p>
              <p class="Grid-row-principal-col-title-disclaimer  ion-hide-xl-down"> Apretando el boton “Continuar”, aceptas nuestros “Terminos y Condiciones & Politicas de Privacidad”.
              </p>
            </ion-text>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" SizeMd="6" sizeLg="12" sizeXl="6" pullXl="6" class="Grid-row-principal-col">
            <ion-img class="Grid-row-principal-col-img" src="../../assets/icon/onboarding/family-onboarding.svg"></ion-img>
          </ion-col>
          <ion-col class="Grid-row-tyc-col ion-hide-xl-up" sizeXs="12" sizeSm="12" SizeMd="6" sizeLg="12" sizeXl="6">
            <ion-text class="Grid-row-tyc-col-text">
              <p class="Grid-row-tyc-col-text-p"> Apretando el boton “Continuar”, aceptas nuestros
                “Terminos y Condiciones & Politicas de Privacidad”.
              </p>

            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="Grid-row-button">
          <ion-col sizeXs="12" sizeSm="12" SizeMd="6" sizeLg="12" sizeXl="6" pushXl="6" class="Grid-row-button-col">
            <ion-button class="Grid-row-button-col-nextBtn" (click)="next()">Continuar</ion-button>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" SizeMd="12" sizeLg="12" sizeXl="6" offsetXl="6" class="Grid-row-button-col">
            <ion-button style="visibility: hidden;">
              No, más tarde.
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>  
    <!-- End Slider 1 -->
    <!-- Start Slider 2 --> 
 <swiper-slide>
      <ion-grid class="Grid">
        <ion-row class="Grid-row-principal fixed">
          <ion-col sizeXs="12" sizeSm="12" SizeMd="6" sizeLg="12" sizeXl="6" pushXl="6"
            class="Grid-row-principal-col col-padding">
            <ion-text class="Grid-row-principal-col-title">
              <h1 class="Grid-row-principal-col-title-h1">Habilita tu ubicación.</h1>
              <p class="Grid-row-principal-col-title-p">
                Este sitio utilizará tu ubicación para poder ayudarte.
              </p>
              <p  class="Grid-row-principal-col-title-disclaimer ion-hide-xl-down"> Este
                sitio web utiliza tu ubicación para poder brindarte una mejor experiencia y poder proceder correctamente
                con tu solicitud.
              </p>
            </ion-text>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" SizeMd="6" sizeLg="12" sizeXl="6" pullXl="6" class="Grid-row-principal-col">
            <ion-img class="Grid-row-principal-col-img" src="../../assets/icon/onboarding/location-desktop.svg"></ion-img>
          </ion-col>
          <ion-col class="Grid-row-tyc-col ion-hide-xl-up" sizeXs="12" sizeSm="12" SizeMd="6" sizeLg="12" sizeXl="6"
            style="align-self: center;">
            <ion-text class="Grid-row-tyc-col-text">
              <p class="Grid-row-tyc-col-text-p ion-hide-xl-up"> Este sitio web utiliza tu ubicación para poder
                brindarte una mejor experiencia y poder proceder correctamente con tu solicitud.
              </p>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="Grid-row-button">
          <ion-col sizeXs="12" sizeSm="12" SizeMd="12" sizeLg="12" sizeXl="6" offsetXl="6" class="Grid-row-button-col">
            <ion-button class="Grid-row-button-col-nextBtn" (click)="getLocation()">Habilitar ubicación</ion-button>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" SizeMd="12" sizeLg="12" sizeXl="6" offsetXl="6" class="Grid-row-button-col">
            <ion-button fill="none" class="Grid-row-button-col-skipBtn" (click)="next()">
              No, más tarde.
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>  
    <!-- End Slider 2 -->
    <!-- Start Slider 3 -->
    <swiper-slide>
      <ion-grid class="Grid-choice">
        <ion-row class="Grid-choice-row-selection">
          <ion-col sizeXs="12" sizeSm="12" SizeMd="12" sizeLg="12" sizeXl="6"  class="Grid-choice-row-selection-col">
            <ion-icon src="../../assets/icon/onboarding/kid-desktop.svg"></ion-icon>
            <ion-button class="Grid-choice-row-selection-col-Btn" (click)="select('Niño/Niña')"> SOY NIÑO/NIÑA</ion-button>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" SizeMd="12" sizeLg="12" sizeXl="6" class="Grid-choice-row-selection-col">
            <ion-icon  src="../../assets/icon/onboarding/teen-desktop.svg"></ion-icon>
            <ion-button class="Grid-choice-row-selection-col-Btn" (click)="select('Adolescente')"> SOY ADOLESCENTE</ion-button>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" SizeMd="12" sizeXl="12" sizeLg="12" class="Grid-choice-row-selection-col">
            <ion-icon  src="../../assets/icon/onboarding/adult-desktop.svg"></ion-icon>
            <ion-button class="Grid-choice-row-selection-col-Btn" (click)="select('Adulto')"> SOY ADULTO</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
    <!-- End Slider 3 -->
  </swiper-container>
</ion-content>