<ion-footer>
<ion-grid class="Footer"  style="position: relative;z-index: 1;">
  <!-- <ion-row class="Footer-row">
    <ion-col size="1" class="Footer-row-col">
      <ion-thumbnail class="Footer-row-col-yocuento-thumbnail">
        <ion-img class="Footer-row-col-thumbnail"  src="../../assets/icon/footer/yocuento.svg"></ion-img>
      </ion-thumbnail>
    </ion-col>
    <ion-col size="2" class="Footer-row-col">
      <ion-thumbnail class="Footer-row-col-defensoria-thumbnail">
        <ion-img class="Footer-row-col-thumbnail"  src="../../assets/icon/footer/defensoria.svg"></ion-img>
      </ion-thumbnail>
    </ion-col>
    <ion-col  offsetXl="3"  size="6" class="Footer-row-menu-col">
      
      <ion-button fill="clear" routerLink="/inicio" routerDirection="root" routerLinkActive="active-link" class="Footer-row-menu-col-btn">
          Inicio
      </ion-button>
      <ion-button fill="clear" routerLink="/formulario" routerDirection="root" routerLinkActive="active-link" class="Footer-row-menu-col-btn">
              Formulario
      </ion-button>
      <ion-button fill="clear" routerLink="/mapa" routerDirection="root" routerLinkActive="active-link" class="Footer-row-menu-col-btn">
          Mapa
      </ion-button>
      <ion-button fill="clear" routerLink="/numeros-utiles" routerDirection="root" routerLinkActive="active-link" class="Footer-row-menu-col-btn">
          Teléfono
      </ion-button>
      <ion-button fill="clear" routerLink="/perfil" routerDirection="root" routerLinkActive="active-link" class="Footer-row-menu-col-btn">
          Perfil
      </ion-button> 
</ion-col>
  </ion-row> -->
  <!-- <ion-row class="Footer-separator-row">
    <ion-col size="12" class="Footer-separator-row-col">
      <ion-thumbnail class="Footer-separator-row-col-thumbnail">
        <ion-img src="../../../assets/icon/footer/separator.svg"></ion-img>
      </ion-thumbnail>
    </ion-col>
  </ion-row> -->
  <ion-row  class="Footer-social-row">
    <ion-col size="3" class="Footer-social-row-col">
      <ion-thumbnail class="Footer-social-row-col-thumbnail-gob">
        <ion-img src="../../../assets/icon/footer/gobmisiones.svg"></ion-img>
      </ion-thumbnail>
    </ion-col>
    <ion-col size="3" class="Footer-social-row-col">
      <ion-thumbnail class="Footer-social-row-col-thumbnail-silicon">
        <ion-img src="../../../assets/icon/footer/silicon.svg"></ion-img>
      </ion-thumbnail>
    </ion-col>
    <ion-col size="4" class="Footer-social-row-media-col">
      <ion-list class="Footer-social-row-media-col-list">
        <ion-item lines="none"   class="Footer-social-row-media-col-list-item">
          <ion-icon class="Footer-social-row-media-col-list-item-icon" aria-hidden="true" src="../../../assets/icon/footer/phone.svg" slot="start"></ion-icon>
          <ion-label class="Footer-social-row-media-col-list-item-label" ><strong> Línea de Emergencia 911 </strong>3764 - 345421</ion-label>
        </ion-item>
        <ion-item lines="none" class="Footer-social-row-media-col-list-item">
          <ion-icon class="Footer-social-row-media-col-list-item-icon" aria-hidden="true"  src="../../../assets/icon/footer/mail.svg" slot="start"></ion-icon>
          <ion-label class="Footer-social-row-media-col-list-item-label"><strong> Correo electrónico </strong> defensoriadennya.misiones&#64;gmail.com</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="2" style=" display: flex;
                              flex-direction: column;
                              align-items: end;"   >
      <ion-thumbnail style="place-content: end;width: 136px;height: 46px;" >
        <ion-img src="../../../assets/icon/footer/defensoria.svg"></ion-img>
      </ion-thumbnail>
    </ion-col>
  </ion-row>
  <ion-row style="width: 90%;">
    <ion-col size="12" style="padding: 0px;">
      <ion-label>
        <p class="Footer-social-row-media-col-list-item-label">© 2024 Silicon Misiones - Todos los derechos reservados</p>
      </ion-label>
    </ion-col>
    
  </ion-row>
  <ion-thumbnail style="position: absolute;
right:  -73px; z-index: -1;top:10px;
 width: 331px;height: 331px;">
  <ion-img src="../../../assets/icon/footer/start.svg"></ion-img>
</ion-thumbnail> 
</ion-grid>

</ion-footer>