<ion-grid class="ion-hide-xl-down">
  <ion-row>
    <ion-col  sizeXs="12" sizeSm="12"  SizeMd="12" sizeLg="12" sizeXl="12" class="col ion-hide-xl-up">
      <ion-icon src="../../assets/icon/navigate.svg" class="col-icon"></ion-icon>
    </ion-col>   
      <ion-col sizeXs="12" sizeSm="12"  SizeMd="12" sizeLg="12" sizeXl="12" class="col ion-hide-xl-down">
      <ion-icon  style=" width: 123px;
      height: 96px;" src="../../assets/icon/yocuento-desktop.svg" class="col-icon-onboarding"></ion-icon>
    </ion-col> 
  </ion-row>
</ion-grid>
