<ion-content>
  <div class="main-header">
  
  <div class="titulo">
  <ion-label class="titulo-label">
      Contactate con quien necesites
  </ion-label></div>
  <ion-grid class="Grid">
          <ion-row class="Grid-row"> 
              <ion-col class="Grid-row-col"  size="6">
                  <div>
                  <ion-icon src="../../assets/icon/hospital.svg"></ion-icon>     
                  <div class="Grid-row-col-label">
                  <ion-label class="Grid-row-col-label-badge">
                      Hospitales
                  </ion-label></div>  
              </div> 
              </ion-col>
              <ion-col class="Grid-row-col"  size="6">
                  <div>
                  <ion-icon src="../../assets/icon/policia.svg"></ion-icon>        
                  <div class="Grid-row-col-label">
                  <ion-label class="Grid-row-col-label-badge">
                      Comisarías
                  </ion-label></div>   
              </div>
              </ion-col>
          </ion-row>
  </ion-grid>
</div>
  <div id="map">
  </div>
</ion-content>