:host{
    background: #fff;
}
 
@media (max-width:360px) {
    ion-tab-bar{
        min-height: 60px;
    }
ion-tab-button {
    width: 56px;
    min-width: 56px;
}


 
}
 ion-menu{
    --height:305px;
    --width: 196px;
    --background: #5A4BB2 !important;
    margin-top: 67px;
    margin-right: 2px;
    --color: #fff;
    ion-content{
        --background: #5A4BB2 !important;
        ion-toolbar{
            --background: #5A4BB2 !important;
            ion-button{
                color: #fff;
                ion-icon{
                    font-size: 24px;
                    color: #fff;
                }

            }
        }
        ion-menu-toggle{
            ion-item{
                --background: #5A4BB2 !important;
                color: #fff;
                ion-label{
                    color:#fff;
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }
        
    
    }
} 
  ion-menu::part(backdrop) { 
    opacity: 0;
  }  
  
    ion-menu::part(container) {  
    border-radius: 15px 0 0 15px;
    
  }
  
  
 @media (max-width:1199px){ 
.desktop-wrapper{
    display: hidden;
}
}  

