:host{
    background: white;
}


ion-tab-bar{
    position: relative;
    margin: 0 auto;
    --background: #fff !important;
    border-top: 7px solid #5A4BB2;
    border-radius: 15px;
    width: 100%;
    padding-bottom: 5px;
}
ion-tab-button {
    --color: #000;
    --color-selected: #5A4BB2;
  
    &::before {
      background-color: transparent;
      display: block;
      content: "";
      margin: 0 auto;
      width: 20px;
      height: 2px;
    }
  
    &.tab-selected::before {
      background-color: #5A4BB2;
    }
  }


ion-label.hidden{
    display: none;
   
}
 
ion-label{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    min-width: max-content;
    line-height: 120%;
    color:#000;
/*     flex: none;
    order: 1; */
    opacity: 0.7;
/*     flex-grow: 0; */
}

@media (max-width:360px) {
    ion-tab-bar{
        min-height: 60px;
    }
ion-tab-button {
    width: 56px;
    min-width: 56px;
}

}


@media (min-width:1200px){
    .link{
        --color:#000;
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 700;
    }
    .active-link{
        --color:#FE910E;
        font-size: 18px;
        font-weight: 700;
    }
    .col{
        width: 100%;
        padding-left: 150px;
        &-logo{
            width: 123px;
            height: 96px;
        
        }
    }
    
    .desktop{
        ion-router-outlet{
            margin-top: 140px; 
        }
    }
} 