:host{
    background: #fff;
}
.Desktop{
    ion-router-outlet{
        margin-top: 115px; 
    }
    &-header{
       
        &-toolbar{
            margin: 0 auto;
            width: fit-content;
      
            &-row{
                max-width: 1240px;
                width: 1240px; 
                padding: 0 30px;
                display: flex; 
                &-ImgCol{
                    text-align: start;
                    &-img{
                        width: 123px;
                        height: 96px;
                    }
                }
                &-MenuCol{
                    align-content: center;
                    text-align: start;
                    align-self: center;

                    &-btn{
                        --color:#000;
                        font-size: 18px;
                        text-transform: capitalize;
                        font-weight: 700;
                    }

                }
            }
        }
    }
}


 
@media (max-width:360px) {
    ion-tab-bar{
        min-height: 60px;
    }
ion-tab-button {
    width: 56px;
    min-width: 56px;
}

}


@media (min-width:1200px){
    .active-link{
        --color:#FE910E;
        font-size: 18px;
        font-weight: 700;
    }
    .Mobile{
        display: none;
    }
    
} 

ion-menu{
    --height:305px;
    --width: 196px;
    --background: #5A4BB2 !important;
    margin-top: 67px;
    margin-right: 2px;
    --color: #fff;
    ion-content{
        --background: #5A4BB2 !important;
        ion-toolbar{
            --background: #5A4BB2 !important;
            ion-button{
                color: #fff;
                ion-icon{
                    color: #fff;
                }

            }
        }
        ion-menu-toggle{
            ion-item{
                --background: #5A4BB2 !important;
                color: #fff;
                ion-label{
                    color:#fff;
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }
        
    
    }
}
/*  ion-menu::part(backdrop) { 
    opacity: 0;
  } */
  
  ion-menu::part(container) {  
    border-radius: 15px 0 0 15px;
    
  }
   
