<ion-tabs #tabs (ionTabsDidChange)="tabChange(tabs)">
  <ion-tab-bar slot="bottom" mode="ios">
     
      <ion-tab-button *ngIf="(route === 'teen')" [routerLink]="['/formulario']"  layout="icon-top">
          <ion-icon src="../../assets/icon/microfono.svg" ></ion-icon>
          <ion-label  [ngClass]="{'hidden': width <  360}">Formulario</ion-label>
      </ion-tab-button>
      <ion-tab-button *ngIf="route === 'kid'" [routerLink]="['/formulario-kids']" layout="icon-top" >
          <ion-icon src="../../assets/icon/microfono.svg" ></ion-icon>
          <ion-label  [ngClass]="{'hidden': width <  360}">Formulario</ion-label>
      </ion-tab-button> 
 
      <ion-tab-button tab="mapa" layout="icon-top" >
          <ion-icon src="../../assets/icon/mapa.svg"></ion-icon>
                     <ion-label [ngClass]="{'hidden': width <  360}">Mapa</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="inicio" layout="icon-top">
          <ion-icon src="../../assets/icon/inicio.svg" ></ion-icon>
                     <ion-label [ngClass]="{'hidden': width <  360}">Inicio</ion-label>
      </ion-tab-button>
       <ion-tab-button tab="numeros-utiles" layout="icon-top">
          <ion-icon src="../../assets/icon/telefono.svg"></ion-icon>
                     <ion-label [ngClass]="{'hidden': width <  360}">Telefono</ion-label>
      </ion-tab-button> 
      <ion-tab-button tab="perfil" layout="icon-top">
          <ion-icon src="../../assets/icon/perfil.svg"></ion-icon>
                     <ion-label [ngClass]="{'hidden': width <  360}">Perfil</ion-label>
      </ion-tab-button>  
  </ion-tab-bar>
</ion-tabs>