.header {
    &__toolbar {
      --background: white;
      --border-color: rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1280px;
      margin: 0 auto;
      padding: 0;
      height: 64px;
    }
  
    &__logo {
      margin-left: 22px;
      display: flex;
      align-items: center;
      
      &-img {
        
        height: 60px;
        width: 60px;
      }
    }
  
    &__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      gap: 32px;
      margin-right: 22px;
      &-link {
        display: flex;
        align-items: center; 
        --color: #374751;
        --background: transparent;
        --background-hover: rgba(255, 145, 14, 0.05);
        --ripple-color: rgba(255, 145, 14, 0.1);
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: -0.01rem;
        text-transform: capitalize; 
        position: relative;
        
        &--active {
          --color: #FE910E;
          font-weight: 500;

          
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #FE910E;
            border-radius: 10px 10px 0px 0px;
          }
        }
      }
  
      &-icon {
        width: 20px;
        height: 20px;
        --color: #000;
        color:#000;
      }
    }
  }
 