<ion-content padding   [style.--background]="background">
     <ion-grid class="Grid">
      <ion-row class="Grid-row">
          <ion-col class="Grid-row-col" size="12">
            <swiper-container
              #swiper
              [allowTouchMove]="false" 
              [autoHeight]="true"
              speed="2000"
              (swiperslidechangetransitionstart)="swiperChange()">
              <!-- (swiperslidechangetransitionend)="test($event)"
              (swiperafterinit)="swiperReady(swiper)" -->
              <swiper-slide class="Grid-row-col-swiper-template" *ngFor="let group of dinamicForm;index as i">
                  <div class="Grid-row-col-swiper-template-container"> 
                   <div class="Grid-row-col-swiper-template-container-header ion-hide-xl-up"  align="end">
                      <span class="Grid-row-col-swiper-template-container-header-span">
                          <ion-icon  #icono  name="close-circle-outline"  class="close-icon" (click)="close()"></ion-icon>
                      </span>
                       <div class="Grid-row-col-swiper-template-container-header-titulo ion-text-center">
                           <label #titulo class="Grid-row-col-swiper-template-container-header-titulo-label" >  
                                <p class="Grid-row-col-swiper-template-container-header-titulo-label-h1">{{i+1}} / 7</p> 
                                <p class="Grid-row-col-swiper-template-container-header-titulo-label-p">{{group.title}}</p>
                            </label>
                        </div>
                       </div>
                       <div class="Grid-row-col-swiper-template-container-header ion-hide-xl-down">
                         <div class="Grid-row-col-swiper-template-container-header-titulo ion-text-center">
                             <label class="Grid-row-col-swiper-template-container-header-titulo-label" >  
                                  <p class="Grid-row-col-swiper-template-container-header-titulo-label-p">{{i+1}} / 7</p> 
                                  <p class="Grid-row-col-swiper-template-container-header-titulo-label-p">{{group.title}}</p>
                              </label>
                          </div>
                         </div>
                       <ion-col  class="Grid-row-col-swiper-template-container-items">
                        <form [formGroup]="myForm" (ngSubmit)="submitForm()" style="width: 100%;display: flex;
                        flex-direction: column;
                        align-items: center;">
                              <ion-list *ngIf="group.type === 'item'" class="Grid-row-col-swiper-template-container-items-list2" lines="none">
                                <ng-container *ngFor="let pregunta of group.preguntas; let j = index">
                                  <div class="question-container" [attr.id]="'question-container-' + pregunta.id">
                                    <ion-item #preguntasList lines="full" [attr.id]="'pregunta-' + pregunta.id"
                                              class="Grid-row-col-swiper-template-container-items-list2-item"
                                              [ngStyle]="{'--background': pregunta.isChecked ? backgroundChecked : background}"
                                              (click)="toggleSelection(group.key, pregunta.val)">
                                      <ion-label [ngStyle]="{'color': pregunta?.isChecked === true ? '#FFF' : '#333'}">{{ pregunta.val }}</ion-label>
                                      <ion-icon *ngIf="pregunta.icon" slot="end" [src]="pregunta.icon" style="width: 55px;height: 55px;"></ion-icon>
                                    </ion-item>
                                    <div *ngIf="pregunta.isChecked && pregunta.inputs" class="input-container">
                                      <ion-item *ngFor="let input of pregunta.inputs" class="item-input">
                                        <ion-input *ngIf="myForm.contains(input.key)" [formControlName]="input.key" fill="outline"
                                                   labelPlacement="stacked" [placeholder]="input.label" class="input-label"></ion-input>
                                      </ion-item>
                                    </div>
                                  </div>
                                </ng-container>
                              </ion-list>
                                <ion-list  *ngIf="group.type === 'range'" class="Grid-row-col-swiper-template-container-items-list2">
                                  <ion-grid style="text-align: center;">
                                    <ion-row style="display: flex;
                                    flex-direction: row;">
                                      <ion-col  sizeXs="3" sizeMd="2"  sizLg="1" sizeXl="1" *ngFor="let edad of edadesDisponibles">
                                        <ion-button  style="min-height: 40px;min-width: 40px;max-width: 40px;max-height: 40px;font-weight: 700;"  [class.button-selected]="edad === edadSeleccionada"
                                                     [class.button-unselected]="edad !== edadSeleccionada"
                                          [fill]="edad === edadSeleccionada ? 'solid' : 'outline'"
                                          (click)="seleccionarEdad(edad)">
                                          {{ edad }}
                                        </ion-button>
                                      </ion-col>
                                    </ion-row>
                                  </ion-grid>
                                </ion-list>
                                <div>
                                  
                                </div>
                          </form>
                      </ion-col>
                 </div>
              </swiper-slide>
               <swiper-slide  class="Grid-row-col-swiper-template" style="height: 100dvh;align-content: center;">
                <div>
                  <div class="ion-text-center" style="height: 50%;">
                      <ion-label class="ion-text-center">
                          <ion-icon src="../../assets/icon/text.svg" style="width:300px;height:178px;"></ion-icon>         
                      </ion-label>
                  </div>
                  <div class="ion-text-center" style="padding-top: 20px;">
                   <ion-thumbnail style="display: contents;">
                          <ion-icon src="../../assets/icon/send.svg" style="width:300px;height:250px;"></ion-icon>         
                      </ion-thumbnail>
                  </div>
                  </div>
               </swiper-slide>
            </swiper-container>
          </ion-col>
      </ion-row>
  </ion-grid>   
</ion-content>
<ion-footer class="ion-no-border" [style.background]="background">
  <ion-grid style="padding-left: 35px;
                   padding-right: 35px;" >
    <ion-row>
          <ion-col size="12" *ngIf="bandera" class="ion-text-center" style="padding: 0px;">
              <ion-button class="btn-enviar" (click)="enviar()">
                  ENVIAR FORMULARIO
              </ion-button>
          </ion-col>
          <ion-col size="12" *ngIf="finalized" class="ion-text-center" >
              <ion-button class="btn-enviar" (click)="backHome()"  [routerLink]="['/inicio']">
                  VOLVER AL MENU
              </ion-button>
          </ion-col>
          <ion-col size="6" *ngIf="!bandera && !finalized" style="padding-right: 15px;"  class="ion-text-end">
              <ion-button class="btn" (click)="prev()" [disabled]="selected ">
                  <ion-icon src="../../assets/icon/chevron-forward.svg" style="width:24px ;height:24px;position: absolute;transform: rotate(180deg);"></ion-icon>
              </ion-button>
          </ion-col>
          <ion-col size="6" *ngIf="!bandera && !finalized" style="padding-left: 15px" class="ion-text-start">
              <ion-button class="btn" (click)="next()" [disabled]="!selected ">
                  <ion-icon src="../../assets/icon/chevron-forward.svg" style="width:24px ;height:24px;position: absolute;"></ion-icon>
              </ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
  
</ion-footer>  