
swiper-slide{
    padding-bottom: 70px;

}

.spinner{
    width: 54px;
    height: 54px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    --color:#5A4BB2;

}

ion-content{
    scrollbar-width: none;
}
.input-container{
 
    padding: 0; 
    padding:0px 12px 0px 12px;
}

.item-input{
    --padding-start:0px;
    --padding-end:0px;
    --padding-top:0px;
    --padding-bottom:0px;
}
.item-input::part(native){
    --inner-padding-start:0px;
    --inner-padding-end:0px;
    --inner-padding-top:0px;
    --inner-padding-bottom:0px;

}

.input-label{
    height: 35px; 
    min-height: 35px !important;
    text-align: left;
    --padding-start:15px !important;
    --padding-end:0px;
    font-size: 12px;
}
.Grid { 
    padding: 0px;   
    background: #FFF; 
    height: 100%;
    &-row { 
        height: 100%;
        padding: 0px;
        &-col {
            height: 100%;
            padding: 0px;
            &-swiper { 
                &-template { 
                    &-container {
                        &-header {
                            width: 100%; 
                            background: #5A4BB2;
                            box-shadow: 0 1px 10px #5A4BB2;
                            border-radius: 0 0 25px 25px;
                            padding-bottom: 23px;
                            max-height: 168px;
                            &-span {
                                color: #ffff;
                            }
                            &-titulo {
                                color: #FFFFFF;
                                font-weight: 700;
                                &-label-h1 {
                                    margin: 16px 0;
                                    font-size: 22px; 
                                }
                                &-label-p {
                                    margin: 14px 0;
                                    font-size: 18px; 
                                }
                            }
                        }

                        &-items {
                            background: #FFF;
                            height: fit-content;
                            &-list2 {
                              
                                display: flex;
                            flex-direction: column;
                            align-items: center;
                                background: #FFF;
                                width: 100%; 
                                ion-item::part(native){
                                    max-height: 40px;
                                    min-height: 40px;
                                }

                                &-item {
                                    
                                    --background: #fff;
                                    --color: #333;
                                    margin-bottom: 12px;
                                    margin-top: 12px;
                                    --border-color: #454545;
                                    --border-style: solid;
                                    --border-width: 1px;
                                    --border-radius: 8px;
                                    white-space: unset !important;
                                    width: 290px;
                                    max-width: 290px;
                                    &-label {
                                        color: #333;
                                        padding-left: 0px;
                                        padding-top: 6px;
                                        padding-bottom: 7px;
                                        white-space: unset !important;
                                    }
                                }
                                &-input{
                                    width: 290px;
                                    text-align: center;
                                    --color:#fff;
                                    padding-top: 15px; 
                                    &-p{
                                        background-color:#5A4BB2;
                                        --color: #fff;
                                        border-radius: 15px;
                                        font-size: 12px;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.button-selected {
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-start: 5px;
    --padding-end: 5px; 
    font-size: 23px;
    --border-radius: 50%;
    --background: #5A4BB2;
    --color: #fff;
    --border-color: #fff;
    --border-radius: 50%;
}

.button-unselected {
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-start: 5px;
    --padding-end: 5px;
    --border-radius: 50%;
    font-size: 23px;
    --background: #fff;
    --color: black;
    --border-color: #5A4BB2;
}

ion-content {
    --background: #FFF;
}

//Footer 
ion-footer {
    background: #FFF;
    --border: #FFF;
}

.close-icon {
    padding-top: 15px;
    padding-right: 15px;
    width: 24px;
    height: 24px;
}

 

.btn {
    --background: #5A4BB2;
    width: 101px;
    height: 40px;
    --border-radius: 4px !important;
}

.btn-enviar {
    font-weight: 100;
    text-transform: none;
    --background:#5A4BB2 !important;
    --color:#fff;
    width: 100%;
    max-width: 454px;
    height: 100%;
    --border-radius: 0.2rem;
    font-size: 1rem;
   --border-radius:8px;
}


//range
ion-range::part(tick) {
    background: #C7793C;
}

ion-range::part(tick-active) {
    background: #C7793C;
}

ion-range::part(pin) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #C7793C;
    color: #fff;
    border-radius: 50%;
    transform: scale(1.01);
    top: -28px;
    min-width: 38px;
    height: 38px;
    transition: transform 120ms ease, #C7793C 120ms ease;
}

ion-range::part(pin)::before {
    content: none;
}

ion-range::part(knob) {
    background: #C7793C;
}

ion-range::part(bar) {
    background: #C7793C;
}

ion-range::part(bar-active) {
    background: #C7793C;
}

@media (min-width:1200px) {
    .Grid {
        padding-left: 125px;
        padding-right: 125px;
        padding-top: 55px;
        max-width: 1190px;
        &-row {
            &-col {
                &-swiper {
                    height: 600px;
                    width: 1000px;

                    &-template {
                        &-container {
                            &-header {
                                height: auto;
                                box-shadow: none;
                                border-radius: 24px;
                                padding-bottom: 25px;

                                &-titulo {
                                    font-weight: 700;
                                    font-size: 36px;
                                    padding-top: 16px;
                                    padding-bottom: 18px;

                                    &-label-p {
                                        margin: 0px;
                                    }
                                }
                            }

                            &-items {
                                text-align: center;
                                padding-top: 0px;
                                padding-left: 150px;
                                padding-right: 150px;
                                ion-item::part(native){
                                    max-height: 50px;
                                    min-height: 50px;
                                }
                                &-list2 {
                                
                                    &-item {
                                        padding: 5px;
                                        width: 688px;
                                        max-width: 688px;
                                        &-label {
                                            font-size: 16px;
                                            font-weight: 600;
                                            text-align: center;
                                        }
                                    }

                                    &-item2 {
                                        padding: 5px;
                                        font-size: 12px;

                                        &-input {
                                            --background: #FE910E;
                                            --color: #000;
                                            --padding-start: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    ion-footer {
        padding-bottom: 5px;
    }

    ion-spinner{
        width: 100px;
        height: 100px;
    }

}

