//Swiper Syles
.swiper {
    width: 100%;
    height: auto;
    
}
.main-header{
    height: 30vh;
    width: 100%;
    background: #5A4BB2;
    box-shadow: 0 1px 10px #5A4BB2;
    border-radius: 0 0 25px 25px;
    padding-top: 0px;
 
} 
 ion-content{
    --background:#F4F4F4;
 }
 
//Footer 
ion-footer {
    /*  background-color: #ad83b1; */
    background: #F4F4F4;
    --border: #F4F4F4;
}
.list-form{
    background: #F4F4F4;
    margin-top:40px;
    margin-left: 55px;
    margin-right: 55px;
    &-item{
    --background: #fff;
    --color: #000;
    margin-bottom: 16px;
    margin-top: 16px;
    --border-color: #fff;
    --border-style: none;
    --border-width: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    white-space: unset !important;
    &-label{
        padding-left:35px;
        padding-top: 6px;
        padding-bottom: 7px;
        white-space: unset !important;
    }
    }
}

.close-icon{
    padding-top:15px;
    padding-right: 15px;
    width: 35px;
    height: 35px;
}

//Swiper Content Styles
.swiper-slide{
    overflow: visible !important;
}
.titulo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
}

.btn {
    --background: #5A4BB2;
    width: 60px;
    height: 60px;
    --border-radius: 60% !important;
    font-size: 17px;
}

.btn-enviar {
    --background: #FE910E;
    font-size: 17px;
    --border-radius: 15px;
    --color:#fff;
    width: 100%;
    height: 100%;
    --padding-bottom: 0.7rem;
    --padding-top: 0.7rem;
    font-size: 16px;
}


//range
ion-range::part(tick) {
    background: #C7793C;
}

ion-range::part(tick-active) {
    background: #C7793C;
}

ion-range::part(pin) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #C7793C;
    color: #fff;
    border-radius: 50%;
    transform: scale(1.01);
    top: -28px;
    min-width: 38px;
    height: 38px;
    transition: transform 120ms ease, #C7793C 120ms ease;
}

ion-range::part(pin)::before {
    content: none;
}

ion-range::part(knob) {
    background: #C7793C;
}

ion-range::part(bar) {
    background: #C7793C;
}

ion-range::part(bar-active) {
    background: #C7793C;
}

 