<ion-content padding   [style.--background]="background">
     <ion-grid class="Grid">
      <ion-row class="Grid-row">
          <ion-col class="Grid-row-col" size="12" >
            <swiper-container 
              #swiper
              [allowTouchMove]="false" 
              [autoHeight]="true"
              speed="2000">
              <swiper-slide class="Grid-row-col-swiper-template" *ngFor="let group of dinamicForm;index as i">
                  <div class="Grid-row-col-swiper-template-container"> 
                   <div class="Grid-row-col-swiper-template-container-header ion-hide-xl-up"  align="end">
                      <span class="Grid-row-col-swiper-template-container-header-span">
                          <ion-icon name="close-circle-outline"  class="close-icon" (click)="close()"></ion-icon>
                      </span>
                       <div class="Grid-row-col-swiper-template-container-header-titulo ion-text-center">
                           <label class="Grid-row-col-swiper-template-container-header-titulo-label" >  
                                <p class="Grid-row-col-swiper-template-container-header-titulo-label-p">{{i+1}} / 7</p> 
                                <p class="Grid-row-col-swiper-template-container-header-titulo-label-p">{{group.title}}</p>
                            </label>
                        </div>
                       </div>
                       <div class="Grid-row-col-swiper-template-container-header ion-hide-xl-down">
                         <div class="Grid-row-col-swiper-template-container-header-titulo ion-text-center">
                             <label class="Grid-row-col-swiper-template-container-header-titulo-label" >  
                                  <p class="Grid-row-col-swiper-template-container-header-titulo-label-p">{{i+1}} / 7</p> 
                                  <p class="Grid-row-col-swiper-template-container-header-titulo-label-p">{{group.title}}</p>
                              </label>
                          </div>
                         </div>
                       <ion-col  class="Grid-row-col-swiper-template-container-items">
                        <form [formGroup]="myForm" (ngSubmit)="submitForm()">
                               <ion-list *ngIf="group.type==='item'" class="Grid-row-col-swiper-template-container-items-list2" lines="none">
                                <ion-item lines="full" class="Grid-row-col-swiper-template-container-items-list2-item"
                                  *ngFor="let pregunta of group.preguntas; let j = index"
                                  [ngStyle]="{'--background': pregunta.isChecked ? backgroundChecked : background}"
                                  button (click)="toggleSelection(group.key, pregunta.val)">
                                  <ion-label [ngStyle]="{'color': pregunta?.isChecked===true ? '#FFF' : '#333'}">{{ pregunta.val }}</ion-label>
                                  <ion-icon *ngIf="pregunta.icon" slot="end" [src]="pregunta.icon" style="width: 55px;height: 55px;"></ion-icon> 
                                </ion-item>
                              </ion-list>  
                              <div *ngIf="group.type === 'range'">
                                <ion-list class="Grid-row-col-swiper-template-container-items-list2">
                                  <ion-grid>
                                    <ion-row>
                                      <ion-col size="auto" *ngFor="let edad of edadesDisponibles">
                                        <ion-button  style="min-height: 60px;min-width: 60px;max-width: 60px;max-height: 60px;font-weight: 700;"  [class.button-selected]="edad === edadSeleccionada"
                                                     [class.button-unselected]="edad !== edadSeleccionada"
                                          [fill]="edad === edadSeleccionada ? 'solid' : 'outline'"
                                          (click)="seleccionarEdad(edad)">
                                          {{ edad }}
                                        </ion-button>
                                      </ion-col>
                                    </ion-row>
                                  </ion-grid>
                                </ion-list>
                              </div>
                          </form>
                      </ion-col>
                 </div>
              </swiper-slide>
               <swiper-slide class="Grid-row-col-swiper-template">
                <div>
                  <div class="ion-text-center" style="height: 50%;">
                      <ion-label class="ion-text-center">
                          <ion-icon src="../../assets/icon/text.svg" style="width:300px;height:178px;"></ion-icon>         
                      </ion-label>
                  </div>
                  <div class="ion-text-center" style="padding-top: 20px;">
                   <ion-thumbnail style="display: contents;">
                          <ion-icon src="../../assets/icon/send.svg" style="width:300px;height:250px;"></ion-icon>         
                      </ion-thumbnail>
                  </div>
                  </div>
               </swiper-slide>
            </swiper-container>
          </ion-col>
      </ion-row>
  </ion-grid>   
</ion-content>
<ion-footer class="ion-no-border" [style.background]="background">
  <ion-grid style="padding-left: 35px;
                   padding-right: 35px;" >
    <ion-row>
          <ion-col size="12" *ngIf="bandera" class="ion-text-center" >
              <ion-button class="btn-enviar" (click)="enviar()">
                  ENVIAR FORMULARIO
              </ion-button>
          </ion-col>
          <ion-col size="12" *ngIf="finalized" class="ion-text-center" >
              <ion-button class="btn-enviar" (click)="backHome()"  [routerLink]="['/principal/inicio']">
                  VOLVER AL MENU
              </ion-button>
          </ion-col>
          <ion-col size="6" *ngIf="!bandera && !finalized" style="padding-right: 15px;"  class="ion-text-end">
              <ion-button class="btn" (click)="prev()" [disabled]="selected">
                  <ion-icon src="../../assets/icon/chevron-forward.svg" style="width:24px ;height:24px;position: absolute;transform: rotate(180deg);"></ion-icon>
              </ion-button>
          </ion-col>
          <ion-col size="6" *ngIf="!bandera && !finalized" style="padding-left: 15px" class="ion-text-start">
              <ion-button class="btn" (click)="next()" [disabled]="!selected">
                  <ion-icon src="../../assets/icon/chevron-forward.svg" style="width:24px ;height:24px;position: absolute;"></ion-icon>
              </ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-footer>  