<ion-content padding [style.--background]="background">
  <div class="form-container">
    <ion-spinner *ngIf="!loaded" class="spinner"></ion-spinner>
    <ng-container *ngIf="loaded">
      <div class="content-wrapper">
        <div class="form-card">
          <form [formGroup]="myForm">
            <swiper-container 
              #swiper
              [allowTouchMove]="false"
              (swiperslidechangetransitionstart)="swiperChange()"
              [observer]="true"
              (swiperafterinit)="swiperReady(swiper)"
              [observeParents]="true">
              <swiper-slide class="form-card-slide" *ngFor="let group of dinamicForm; index as i">
                <div class="step-counter">
                  {{i+1}} / {{dinamicForm.length}}
                </div>
                
                <h2 class="form-title">{{group.title}}</h2>
                <div class="options-grid" *ngIf="group.type === 'item'">
                  <ng-container *ngFor="let pregunta of group.preguntas; let j = index">
                    <div class="question-container" [attr.id]="'question-container-' + pregunta.id">
                      <div 
                        class="option-card" 
                        [class.selected]="pregunta.isChecked"
                        (click)="toggleSelection(group.key, pregunta.val)">
                        <div class="icon" *ngIf="pregunta.icon">
                          <ion-icon [src]="pregunta.icon"></ion-icon>
                        </div>
                        <div class="icon" *ngIf="!pregunta.icon">
                          <ion-icon name="chatbubble-outline"></ion-icon>
                        </div>
                        <span class="label">{{ pregunta.val }}</span>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div *ngIf="group.type === 'range'" class="age-selection">
                  <div class="age-grid">
                    <div *ngFor="let edad of edadesDisponibles" class="age-option">
                      <button 
                        type="button"
                        [class.selected]="edad === edadSeleccionada"
                        (click)="seleccionarEdad(edad)">
                        {{ edad }}
                      </button>
                    </div>
                  </div>
                </div>
                <div class="inputs-container">
                  <ng-container *ngFor="let pregunta of group.preguntas">
                    <div class="input-group" *ngIf="pregunta.isChecked && pregunta.inputs?.length > 0">
                      <div *ngFor="let input of pregunta.inputs">
                        <label>{{input.label}}</label>
                        <ion-input
                          *ngIf="myForm.contains(input.key)"
                          [formControlName]="input.key"
                          [type]="input.type"
                          >
                        </ion-input>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </swiper-slide>
              <swiper-slide class="confirmation-slide">
                <div class="confirmation-container">
                  <div class="confirmation-image">
                    <img src="../../assets/icon/form/support.svg">
                  </div>
                  <div class="confirmation-text">
                    <h4>Hemos Recibido tu pedido de ayuda</h4>
                    <p>Queremos hacerte saber que nuestro equipo ya esta trabajando en tu caso, en breve nos pondremos en contacto contigo.</p>
                    <ion-icon src="../../assets/icon/form/checkmark.svg"></ion-icon>
                  </div>
                </div>
              </swiper-slide>
            </swiper-container>
          </form>
        </div>
      </div>
      
      <div class="popup" *ngIf="showPopup && currentSection?.popup">
        <div class="icon">
          <ion-icon [src]="'../../assets/icon/form/' + currentSection?.popup?.icon" *ngIf="currentSection?.popup?.icon"></ion-icon>
          <ion-icon name="information-circle" *ngIf="!currentSection?.popup?.icon"></ion-icon>
        </div>
        <div class="message">{{currentSection?.popup?.message}}</div>
      </div>
      <div class="page-footer" *ngIf="!bandera && !finalized">
        <button 
          type="button"
          class="prev" 
          (click)="prev()">
          <ion-icon name="chevron-back-outline"></ion-icon> Anterior
        </button>
        <button 
          type="button"
          class="next" 
          (click)="next()" 
          [disabled]="!selected">
          Siguiente <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
      </div>
      <div class="page-footer" *ngIf="bandera">
        <button type="button" class="submit-button" (click)="enviar()">
          ENVIAR FORMULARIO
        </button>
      </div>
      <div class="page-footer" *ngIf="finalized">
        <button type="button" class="submit-button" (click)="backHome()" [routerLink]="['/inicio']">
          VOLVER AL MENU
        </button>
      </div>
    </ng-container>
  </div>
</ion-content>