<ion-content> 
  <ion-grid class="Grid">
    <ion-row class="Grid-row">
      <ion-col class="Grid-row-col" size="12">
        <div class="Grid-row-col-header">
          <ion-icon src="../../assets/icon/numeros-utiles/numeros-utiles-header.svg" class="Grid-row-col-header-icon"> </ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="Grid-row title">
      <ion-col class="Grid-row-col" size="12">
        <ion-label class="Grid-row-col-title">
          <h1 class="Grid-row-col-title-h1">Números útiles</h1>
        </ion-label>
      </ion-col>
    </ion-row>
     <ion-row class="Grid-options-row">
      <ion-col class="Grid-options-row-col" *ngFor="let item of values" sizeXs="6" sizeSm="6" sizeMd="6" sizeLg="6" sizeXl="3">
        <ion-card class="Grid-options-row-col-card">
          <ion-thumbnail class="Grid-options-row-col-card-thumbnail">
            <ion-icon [src]="'../../assets/icon/numeros-utiles/' + item.icon"></ion-icon>
          </ion-thumbnail>
          <ion-card-header class="Grid-options-row-col-card-header">
            <ion-card-title class="Grid-options-row-col-card-header-title">{{ item.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="Grid-options-row-col-card-content">
            <ion-label class="Grid-options-row-col-card-content-label">
               {{item.detail}}
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>  
</ion-grid>
</ion-content>