.Grid {
    padding: 30px 26px 0;
    &-row {
        &-col {
            padding: 5px;
            &-title {
                &-h1 {
                    font-size: 22px;
                    font-weight: 700;
                    color: #5A4BB2;
                }
            }
            &-header {
                border-radius: 0 0 15px 15px;
                background-color: #fff;
                padding-bottom: 30px;
                &-icon {
                    width: 100%;
                    height: max-content;
                    display: contents;
                }
            }
        }
    }
    &-options-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
        &-col {
            padding: 12px 6px;
            margin: 0px;
            &-card { 
                margin: 0px;
                padding: 0px;
                min-height: 118px;
                max-height: 118px;  
                border:3px #5A4BB2 solid;
                border-radius: 8px;
                &-thumbnail {
                    text-align: center;
                    width: 100%;
                    padding-top: 10px;
                    ion-icon {
                        font-size: 32px;
                    }
                }
                &-header {
                    padding: 0 4px;
                    &-title {
                        font-size: 10px;
                        font-weight: 700;
                        text-align: center;
                    }
                }
                &-content {
                    padding: 5px 15px;
                    line-height: 0.7;
                    text-align: center;
                    &-label {
                        font-size: 9px;
                        font-weight: 500;
                        color: #000;
                    }
                }
            }
        }
    }
}
  @media (max-width:376px){
    .Grid{
        padding-top: 20px;
        &-row{
            &-col{
                &-header{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 0px;
                    &-icon {
                        width: 160px;
                        height: 140px;
                        display: block; 
                    }
                }
            }
        }
    }
}   


@media (min-width:1200px) {
 
    .Grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        &-row {
            padding-top: 5px;
            display: flex; 
            max-width: 1254px;
            width: 100%;
            &-col {
                padding: 8px;
                &-title {
                    &-h1 {
                        font-size: 40px;
                    }
                }
                &-header {
                    padding-top: 0px;
                    padding-bottom: 10px;
                    display: flex;
                    place-content: center;
                    width: 100%;
                    &-icon {
                        height: 296px;
                        width: 476px;
                        display: block;
                    }
                }
            }
        }
        &-options-row {
            max-width: 1254px;
            &-col {  
                &-card { 
                    min-width: 290px;
                    min-height: 195px;
                    max-height: 230px;
                    &-thumbnail {
                        display: inline-block;
                        ion-icon {
                            font-size: 95px;
                        }
                    }
                    &-header {
                        padding: 4px;
                        &-title {
                            font-size: 18px;
                        }
                    }
                    &-content {
                        padding: 8px 15px;
                        &-label {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    .icon-padding {
        padding-top: 30px;
        padding-bottom: 6px;
    }

    .label-padding {
        padding-left: 27px;
        padding-right: 27px;
    }

    .limite-height {
        max-height: 320px;
    }
}