@import "~@ionic/angular/css/core.css";
@import "~leaflet/dist/leaflet.css";

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import 'swiper/css/bundle';
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'OpenSans'; 
    src: url('assets/fonts/OpenSans-Regular.ttf');
}
* {
    font-family: 'Open Sans';
}
ion-alert.custom-alert {
    --border-radius: 10px;
    --backdrop-opacity: 0.7;
  }
    ion-content::part(scroll)::-webkit-scrollbar {
    display: none;
  }  
  ion-content::part(scroll) {
    scrollbar-width: none;

  }  
  
  .custom-alert .alert-button-group {
    padding: 8px;
  }
  
  button.alert-button.alert-button-confirm {
   
    color: #000;
  }
  button.alert-button.alert-button-cancel {
    background-color: #5A4BB2;
    color: #fff;
  }
  .md button.alert-button.alert-button-confirm {
    border-radius: 7px;
  }
  .md button.alert-button.alert-button-cancel {
    border-radius: 7px;
  }

  .ios button.alert-button.alert-button-cancel {
    border-right: 0;
    color: #000;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
  }
  
  .ios button.alert-button.alert-button-confirm {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
  }



.toast{
  --background: #5A4BB2;  
  --border-radius: 24px;  
  --border-color: rgba(90, 75, 178, 0.088);
  --border-style:solid;
  --border-width:5px;
  &::part(button){
    height: auto;
    width: auto;
    font-size: 2rem;
  }
  &::part(message){
    font-size: 1rem;
  }
}

.toast-reverse{
    &::part(container){ 
      flex-direction: column !important;
    }
}
 
.top{
  margin-top: 90px;
}
.bottom{
  position: relative;
  margin-bottom: 150px !important;
}

.toast-sucess{
  --background: #2E844A;  
  --border-radius: 24px;  
  --border-color: #396547;
  --border-style:solid;
  --border-width:5px;
  &::part(button){
    height: auto;
    width: auto;
    font-size: 2rem;
  }
  &::part(message){
    font-size: 1rem;
  }
}
.toast-error{
  --background: #BA0517;  
  --border-radius: 24px;  
  --border-color: #640103;
  --border-style:solid;
  --border-width:5px;
  &::part(button){
    height: auto;
    width: auto;
    font-size: 2rem;
  }
  &::part(message){
    font-size: 1rem;
  }
}
.alert{
  .alert-head{
    text-align: center;
    border-bottom: 1px solid #5A4BB2 !important;
  }
  .alert-button-group{
    justify-content: center;
    .alert-button{ 
      width: 45%;
      .alert-button-inner{
        place-content: center;
      }
    }
  }
}

ion-accordion-group{
  ion-accordion {
      .ion-accordion-toggle-icon {
          font-size: 16px;
          color: #000;
      }
  }
}


ion-accordion.accordion-collapsing ion-item[slot='header'],
ion-accordion.accordion-collapsed ion-item[slot='header'] {
  .ion-accordion-toggle-icon{
    color: #000 !important;
  }
  --background: #fff;
  --color: #000;
}

.alert-wrapper { 
  .alert-message{
    white-space: pre-line;
  }
}
ion-accordion.accordion-expanding ion-item[slot='header'],
  ion-accordion.accordion-expanded ion-item[slot='header']{
    --background: #5A4BB2;
    --color: #fff;
    .ion-accordion-toggle-icon{
      color: #fff !important;
    }
}