ion-content {
  --ion-background-color: #fff;
  font-family: 'Open Sans';
  font-style: normal;
}

.datos{


&-datos-icon{
      --color:#fff !important;
  
}
}
 
.Grid{
  height: 100%; 
  display: flex; 
  flex-flow: column; 
  &-mobileTitle-row{ 
    &-col{
      &-item{
        width: 100%; 
        border-radius: 15px;
        padding:10px;
        --background: #FE910E;
        --border-radius: 15px;
        &-label-p{
          padding:6px;
          color:#fff;
          font-size: 16px;
          text-wrap: nowrap;
          text-align: center;
        
        }
      }
    }
  }
    &-iconMobile-row{
      height: 100%;
      width: 100%;
      &-col{
        align-self: center;
        text-align: center;
        &-icon{
          width: 121px;
          height: 111px;
        }
      }
    }
    &-options-row{
      margin-top: auto;
      &-col{
        &-container{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          min-width: 125px;
          min-height: 125px;
          background-color: #5A4BB2;
          border-radius: 15px;
          &-thumbnail{
            width: 25px;
            height: 25px;
            &-icon{
              color: #fff;
              font-size: 25px;
            }
          }
          &-label{
            padding-top: 10px;
            &-p{
                color: #fff;
                font-size: 18px;
                font-weight: 700;
                white-space: nowrap;
            }
          
          }
        }
      }
    }
  }



@media (min-width:1200px ) {
  .Grid{ 
    justify-content: center;
    //centrame todo este grid con flexbox
    height: 100%; 
    display: flex;
    flex-direction: column;
    width:  fit-content;
    &-desktopTitle-row{
      &-col{
        width:100%;
        height: 100%;
        text-align: left;
        justify-content: left;
        align-content: center;
      
      &-label{
        &-h2{
          font-weight: 700;
          font-size: 40px; 
        }
        &-h4{
          font-size: 30px;
          &-strong{
            font-weight: 700;
            font-size: 30px;
          }
        }
      }
    }
    }
    &-options-row{
      padding-top: 64px;
      margin: 0px;
      width: 100%;
      &-col{
        align-content: center;

        &-container{
          width: 280px;
          max-width: 280px;
          height: 251px;
          max-height: 251px;
            &-thumbnail{
              width: 100px;
              height: 100px;
              &-icon{
                  font-size: 100px;
              }
            }
            &-label{
              &-p{
                font-size: 40px;
              }
            }
        }
      }
    }

    &-row{ 
      margin-bottom: 5px; 
      width: 100%; 
      padding: 0px;
      &-col-card{
        width: 100%;
        height: 100%;
        min-width: 251px;
        min-height: 251px;
        &-content{
           font-size: 36px;
           font-weight: 700;
           white-space: nowrap;
      }
            }
       
      }
    }
  }
   
 