<ion-content>
  <div class="mainStructure">
    <div class="Hero">
      <div class="Hero-content">
        <h1 class="Hero-content-title">
          No estás solo, <br />
          aquí estás seguro
        </h1>
        <p class="Hero-content-text">
          En YoCuento te protegemos y te escuchamos. 
          No importa lo que pase, siempre hay alguien aquí para ayudarte.
        </p>
        <div class="Hero-content-buttons">
          <ion-button 
            class="Hero-content-buttons-primary" 
            (click)="navigate('/formulario')">
            Necesito ayuda
          </ion-button>
        </div>
      </div>
      <div class="Hero-image ion-hide-md-down">
        <img src="../../assets/icon/home/Hero-Inicio.png" alt="Imagen de apoyo" />
      </div>
    </div>
    <div class="HomeCards">
      <div *ngFor="let item of cards" 
           class="HomeCards-card" 
           [ngClass]="{'HomeCards-card--primary': item.isPrimary}"
           (click)="redirect(item)">
        <div class="HomeCards-card-icon">
          <ion-icon [src]="item.iconPath"></ion-icon>
        </div>
        <h3 class="HomeCards-card-title">{{ item.title }}</h3>
        <p class="HomeCards-card-description">{{ item.description }}</p>
      </div>
    </div>
    <div class="homeTrust">
      <h2 class="h2-black-title-center">
        ¿Por qué puedes confiar en nosotros?
      </h2>
      <div class="homeTrust-items">
        <div *ngFor="let trustItem of trustReasons" class="homeTrust-items-item">
          <ion-icon [src]="trustItem.iconPath" class="homeTrust-items-item-icon"></ion-icon>
          <h3 class="homeTrust-items-item-title">{{ trustItem.title }}</h3>
          <p class="homeTrust-items-item-text">{{ trustItem.text }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>