.Grid {
  height: 100%;
  display: flex;
  flex-flow: column;
  padding-left: 35px;
  padding-right: 34px;
  padding-top: 30px;
  
  &-title-row {
    padding-bottom: 35px;
    &-col {
      padding:0px;
      &-label {
        &-h2 {
          padding-left: 5px;
          font-weight: 700;
          font-size: 22px;
        }
        &-h4 {
          margin-top: 16px;
          font-size: 16px;
          font-weight: 700;
          &-strong { 
            color: #5A4BB2;
            text-decoration: underline;
          }
        }
      }
    }
    
  }
  &-options-row {
    display: flex;
    flex-direction: row;
    &-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding:15px 5px;
      &-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 8px;
        min-width: 135px;
        min-height: 135px; 
        background-color: #5A4BB2;
        border-radius:24px;
        &-thumbnail {
          width: 70px;
          height: 70px;
          &-icon {
            color: #fff;
            font-size: 70px;
          }
        }
        &-label { 
          &-p {
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            white-space: nowrap;
          }

        }
      }
    }
  }
}



@media (min-width:1200px) {
  .Grid {
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: fit-content;
    &-title-row {
      &-col {
        width: 100%;
        height: 100%;
        text-align: left;
        justify-content: left;
        align-content: center;
        &-label {
          &-h2 {
            font-weight: 700;
            font-size: 40px;
          }
          &-h4 {
            font-size: 30px;
            &-strong {
              font-weight: 700;
              font-size: 30px;
            }
          }
        }
      }
    }
    &-options-row {
      padding-top: 64px;
      margin: 0px;
      width: 100%;
      &-col {
        align-content: center;
        &-container {
          width: 280px;
          max-width: 280px;
          height: 251px;
          max-height: 251px;
          &-thumbnail {
            width: 100px;
            height: 100px;
            &-icon {
              font-size: 100px;
            }
          }
          &-label {
            &-p {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}