<ion-content  >
    <ion-grid class="Grid">
        <ion-row class="Grid-title-row">
            <ion-col class="Grid-title-row-col">
                <ion-label class="Grid-title-row-col-label">
                    <h2 class="Grid-title-row-col-label-h2">
                        ¡Hola, bienvenido!
                    </h2>
                    <h4 class="Grid-title-row-col-label-h4">
                        Completa tus datos ingresando a  <strong class="Grid-title-row-col-label-h4-strong">TU PERFIL</strong>
                    </h4>
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="Grid-options-row">
            <ion-col class="Grid-options-row-col" sizeXs="6" sizeSm="6" sizeMd="6" sizeLg="6" sizeXl="3"
                *ngFor="let item of values">
                <div class="Grid-options-row-col-container" (click)="redirect(item)">
                    <ion-thumbnail class="Grid-options-row-col-container-thumbnail">
                        <ion-icon src="../../assets/icon/{{item.icon}}"
                            class="Grid-options-row-col-container-thumbnail-icon">
                        </ion-icon>
                    </ion-thumbnail>
                    <ion-label class="Grid-options-row-col-container-label">
                        <p class="Grid-options-row-col-container-label-p">{{ item.text}}</p>
                    </ion-label>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>